<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex md6 sm8 xs12 offset-md3 offset-sm2>
				<h1 class="headline mb-4 text-xs-center">Tentang #U&ME4ID</h1>

				<section class="text-xs-justify">
					<p>
						YOU&ME For Indonesia adalah organisasi non-profit yang berfokus dalam memberdayakan pemuda untuk menciptakan perubahan positif di Indonesia. Kami bergerak menyediakan platform untuk pemuda dalam beraksi dan berkarya dengan meningkatkan kapasitas dan keterlibatan mereka untuk aktif dan berdikari didalamnya.
					</p>

					<p>
						YOU&ME For Indonesia dibentuk pada tanggal 23 Oktober 2016 lewat inisiatif satu orang pemuda. Visi kami adalah terwujudnya pemuda Indonesia yang produktif, berdaya, berprinsip dan berkarakter dalam beraksi dan berkarya menjadikan Indonesia yang lebih berdikari kedepannya.
					</p>

					<p>
						Bidang Media sebagai fokus yang kami pilih karena di zaman serba teknologi sekarang ini seringkali kita khususnya anak muda bercengkrama secara langsung dan sifatnya yang universal serta menyeluruh sehingga menjangkau semua lini. Bidang Pengembangan Anak Muda menjadi fokus kedua yang kami pilih karena kami hadir diatas semua bidang yang digeluti anak muda kita sesuaikan dengan passion mereka dan bersinergi bersama mengembangkan passion tersebut.
					</p>

					<p>
						Kami ingin dengan fokus kami di bidang Media dan Pengembangan Anak Muda dapat memberikan dampak yang lebih positif bagi produktifitas anak muda sekarang yang hanya sibuk dengan dunia kampus, kerja maupun keluarganya tanpa ikut serta secara partisipatif dan proaktif dalam menciptakan perubahan bagi lingkungan, masyarakat maupun Indonesia.
					</p>

					<p>
						Kami menyadari bahwa bicara soal pemuda adalah bicara soal kemajuan suatu bangsa. Menjadi bagian dalam membentuk insan muda Indonesia yang berdikari adalah tekad kami. Tentu dibarengi dengan kemauan dan kerja.
					</p>
				</section>

				<section class="text-xs-center">
					<v-btn large exact class="hidden-sm-and-down" color="primary" to="/about-us/team">Kenal lebih dekat dengan kami</v-btn>
					<v-btn exact class="hidden-md-and-up" color="primary" to="/about-us/team">Kenal lebih dekat dengan kami</v-btn>
				</section>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	export default {
		metaInfo: {
			titleTemplate: 'Tentang #U&ME4ID'
		}
	}
</script>