<template>
	<v-container>
		<v-layout row wrap>
			<v-flex md8 sm12 xs12 offset-md2>
				<h1 class="text-xs-center mb-5">Komite YOU&ME For Indonesia</h1>
				<p class="text-xs-center">Hi, U&MEers! Inilah dia para changer YOU&ME For Indonesia</p>

				<v-layout wrap>
					<v-flex xs12>
						<v-container grid-list-md>
							<v-layout row wrap>
								<v-flex md3 sm3 xs12 text-xs-center>
									<img :src="'/images/app/team/team_ipin.jpeg'" class="img-responsive">
								</v-flex>
								<v-flex md9 sm9 xs12>
									<p><b>Muhammad Sarifin, <i>Founder</i></b></p>
									<p class="text-xs-justify">
										Kecintaannya pada dunia organisasi dan kesukarelawanan membawanya mewakili anak Indonesia dalam Sidang Umum Komite Hak Anak PBB, Child Right Conference & NGO Forum International di Geneve, Switzerland (2013). Berawal dari keaktifannya dari bangku SMP di Forum Anak menjadikannya terus mencoba hal baru. Beranjak ke bangku kuliah dari aktif sebagai duta UIN Jakarta, penyiar radio PemudaFM hingga mendirikan YOU&ME For Indonesia. Baginya, tak ada yang berarti selain terus produktif di masa muda demi masa depan bangsa. Pecinta tantangan & learning by doing enthusiast. Hobinya: berorganisasi, menyanyi, menulis, mencari pengalaman & hal baru dalam hidupnya.
									</p>
									<p class="blue-grey--text text--lighten-1">
										<i>"Berusaha dan berdoa ialah kunci kesuksesan dan keberhasilan."</i>
									</p>
								</v-flex>
							</v-layout>
							<v-layout row wrap class="my-5">
								<v-flex md3 sm3 xs12 text-xs-center>
									<img :src="'/images/app/team/team_ita.jpeg'" class="img-responsive">
								</v-flex>
								<v-flex md9 sm9 xs12>
									<p><b>Rusianita Fitri, <i>Treasury</i></b></p>
									<p class="text-xs-justify">
										Hi U&MErs! Salah satu mahasiswa akuntansi Universitas Singaperbangsa Karawang. Minat dan studi dikolaborasikan di-platform ini untuk pengembangan diri dan anak muda!
									</p>
									<p class="blue-grey--text text--lighten-1">
										<i>"Now or never."</i>
									</p>
								</v-flex>
							</v-layout>
							<v-layout row wrap class="my-5">
								<v-flex md3 sm3 xs12 text-xs-center>
									<img :src="'/images/app/team/team_nisa.jpeg'" class="img-responsive">
								</v-flex>
								<v-flex md9 sm9 xs12>
									<p><b>Khoerun Nisa Dyah P.M, <i>Reporter</i></b></p>
									<p class="text-xs-justify">
										Menyukai tantangan dan hal baru
									</p>
									<p class="blue-grey--text text--lighten-1">
										<i>"Man Jadda Wajada."</i>
									</p>
								</v-flex>
							</v-layout>
							<v-layout row wrap class="my-5">
								<v-flex md3 sm3 xs12 text-xs-center>
									<img :src="'/images/app/team/team_dika.jpeg'" class="img-responsive">
								</v-flex>
								<v-flex md9 sm9 xs12>
									<p><b>Surya Handika, <i>Cameraman</i></b></p>
									<p class="text-xs-justify">
										Orang yang hemat, senang bertemu orang baru, cari teman bukan lawan, dan sedikit malas kalo ngga mood.
									</p>
									<p class="blue-grey--text text--lighten-1">
										<i>"Kalo mau kaya, usaha. kalo mau sukses, berdoa."</i>
									</p>
								</v-flex>
							</v-layout>
							<v-layout row wrap class="my-5">
								<v-flex md3 sm3 xs12 text-xs-center>
									<img :src="'/images/app/team/team_safit.jpeg'" class="img-responsive">
								</v-flex>
								<v-flex md9 sm9 xs12>
									<p><b>Safitri Lestari, <i>Public Relation</i></b></p>
									<p class="text-xs-justify">
										Listen when someone's speaking and always do my best to exchange the something until the best thing, Never Give up on myself!
									</p>
									<p class="blue-grey--text text--lighten-1">
										<i>"ALLAH is the most of STRENGTH and Never Give Up for our life."</i>
									</p>
								</v-flex>
							</v-layout>
							<v-layout row wrap class="my-5">
								<v-flex md3 sm3 xs12 text-xs-center>
									<img :src="'/images/app/team/team_rexy.jpeg'" class="img-responsive">
								</v-flex>
								<v-flex md9 sm9 xs12>
									<p><b>M. Rexy Adityo, <i>Campus Ambassador</i></b></p>
									<p class="text-xs-justify">
										Lahir pada tanggal 5 April 1997. Anak kedua dari dua bersaudara. Sekarang studi di UIN Sunan Gunung Djati Bandung, jurusan Tasawuf Psikoterapi, semester 6.
									</p>
									<p class="blue-grey--text text--lighten-1">
										<i>"No Study Hard, but Study Smart."</i>
									</p>
								</v-flex>
							</v-layout>
							<v-layout row wrap class="mt-5">
								<v-flex md3 sm3 xs12 text-xs-center>
									<img :src="'/images/app/team/team_andre.jpeg'" class="img-responsive">
								</v-flex>
								<v-flex md9 sm9 xs12>
									<p><b>Andriannus Parasian, <i>Web Management</i></b></p>
									<p class="text-xs-justify">
										Mahasiswa tingkat akhir di salah satu Universitas. Memiliki ketertarikan pada dunia Programming, terlebih pada bidang Website. Bermula dari iseng bergabung dengan organisasi, membuatnya ingin berkontribusi banyak di YOU&ME For Indonesia terlebih pada pengembangan platform
									</p>
									<p class="blue-grey--text text--lighten-1">
										<i>"God gives you what you need not what you want."</i>
									</p>
								</v-flex>
							</v-layout>
						</v-container>
					</v-flex>
				</v-layout>
				<section class="text-xs-center">
					<v-btn to="/about-us" exact>
						<v-icon>mdi-arrow-left</v-icon>&nbsp;Kembali
					</v-btn>
				</section>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<style>
	.img-responsive {
		max-width: 100%;
		height: auto;
		border-radius: 7px;
	}
</style>

<script>
	export default {
		metaInfo: {
			titleTemplate: 'Tentang Tim #U&ME4ID'
		}
	}
</script>