<template>
	<v-container fluid>
		<v-snackbar
            v-model="snackbar"
            :bottom="true"
            :center="true"
            :timeout="2000"
			:color="color"
        >{{ text }}</v-snackbar>
		
		<v-layout row wrap>
			<v-flex md8 sm8 xs12 offset-md2 offset-sm2>
				<v-stepper v-model="e1" vertical>
					<v-stepper-step step="1" :complete="e1 > 1">Judul kegiatan</v-stepper-step>
					<v-stepper-content step="1">
						<v-card class="mb-5" height="auto" flat>
							<v-text-field
								label="Judul kegiatan"
								v-model="activity.title"
								:error-messages="titleErrors"
								:counter="100"
								@input="$v.activity.title.$touch()"
								@blur="$v.activity.title.$touch()"
								
							></v-text-field>
						</v-card>
						<v-btn
							color="primary"
							@click.native="e1 = 2"
							:disabled="!$v.activity.title.$dirty || $v.activity.title.$error"
							v-if="!edit"
						>Berikutnya</v-btn>

						<v-btn
							color="primary"
							@click.native="e1 = 2"
							:disabled="$v.activity.title.$error"
							v-if="edit"
						>Berikutnya</v-btn>
					</v-stepper-content>

					<v-stepper-step step="2" :complete="e1 > 2">Kategori kegiatan</v-stepper-step>
					<v-stepper-content step="2">
						<v-card class="mb-5" height="auto" flat>
							<v-radio-group v-model="activity.category">
								<v-radio label="Info" color="primary" value="info"></v-radio>
								<v-radio label="Scholarship" color="primary" value="scholarship"></v-radio>
								<v-radio label="Jobs" color="primary" value="jobs"></v-radio>
								<v-radio label="Event" color="primary" value="event"></v-radio>
								<v-radio label="Volunteer" color="primary" value="volunteer"></v-radio>
							</v-radio-group>
						</v-card>
						<v-btn color="primary" @click.native="e1 = 3">Berikutnya</v-btn>
						<v-btn flat @click.native="e1 = 1">Kembali</v-btn>
					</v-stepper-content>

					<v-stepper-step step="3" :complete="e1 > 3">Tambah gambar utama</v-stepper-step>
					<v-stepper-content step="3">
						<picture-input
							ref="pictureInput"
							accept="image/jpeg, image/png"
							size="10"
							height="300"
							width="600"
							buttonClass="btn info px-2"
							:crop="false"
							:zIndex="0"
							:customStrings = "{
								drag: 'Klik atau tarik foto kesini'
							}"
							@change="onChange"
							v-model="activity.image"
							v-if="!edit"
						></picture-input>

						<picture-input
							ref="pictureInput"
							accept="image/jpeg, image/png"
							size="10"
							height="300"
							width="600"
							buttonClass="btn info px-2"
							:prefill="this.$baseURL + 'images/activity/' + this.image"
							:crop="false"
							:zIndex="0"
							:customStrings = "{
								drag: 'Klik atau tarik foto kesini'
							}"
							@change="onChange"
							v-model="activity.image"
							v-if="edit && loadImgSuccess"
						></picture-input>
						<v-btn color="primary"
							@click.native="e1 = 4"
							:disabled="activity.image == ''"
						>Berikutnya</v-btn>
						<v-btn flat @click.native="e1 = 2">Kembali</v-btn>
					</v-stepper-content>

					<v-stepper-step step="4" :complete="e1 > 4">Detail kegiatan</v-stepper-step>
					<v-stepper-content step="4">
						<v-card class="mb-5" height="auto" flat>
							<ckeditor :config="config" v-model="activity.description"></ckeditor>
						</v-card>
						<v-btn
							color="primary"
							@click.native="e1 = 5"
						>Berikutnya</v-btn>
						<v-btn flat @click.native="e1 = 3">Kembali</v-btn>
					</v-stepper-content>
					
					<v-stepper-step step="5" :complete="e1 > 5">Tambah Kontak</v-stepper-step>
					<v-stepper-content step="5">
						<v-card class="mb-5" height="auto" flat>
							<v-text-field
								label="Kontak"
								v-model="activity.contact"
								:error-messages="contactErrors"
								@input="$v.activity.contact.$touch()"
								@blur="$v.activity.contact.$touch()"
							></v-text-field>
						</v-card>
						<v-btn color="primary" @click.native="e1 = 6">Berikutnya</v-btn>
						<v-btn flat @click.native="e1 = 4">Kembali</v-btn>
					</v-stepper-content>

					<v-stepper-step step="6" :complete="e1 > 7">Tambah Link</v-stepper-step>
					<v-stepper-content step="6">
						<v-card class="mb-5" height="auto" flat>
							<v-text-field
								type="url"
								label="Link"
								v-model="activity.link"
								:error-messages="linkErrors"
								@input="$v.activity.link.$touch()"
								@blur="$v.activity.link.$touch()"
							></v-text-field>
						</v-card>
						<v-btn color="primary" @click="createActivity()" v-if="!edit">Simpan</v-btn>
						<v-btn color="primary" @click="updateActivity()" v-if="edit">Perbaharui</v-btn>
						<v-btn flat @click.native="e1 = 5">Kembali</v-btn>
					</v-stepper-content>
				</v-stepper>
			</v-flex>
		</v-layout>
		<v-btn
			color="error"
			class="z-index-1"
			fixed
			bottom
			right
			large
			round
			to="/user/activity"
		>
			<v-icon left>cancel</v-icon> Batal
		</v-btn>
	</v-container>
</template>

<style>
	.z-index-1 {
		z-index: 1;
	}
</style>


<script>
	import Ckeditor from 'vue-ckeditor2';
	import store from '../store';
	import PictureInput from 'vue-picture-input';

	import { required, minLength, maxLength, numeric, url } from 'vuelidate/lib/validators';

	export default {
		props: ['edit'],

		data: () => ({
			e1: 0,
			activity: {
				title: '',
				category: 'info',
				image: '',
				description: '',
				contact: '',
				link: '',
				user_id: store.state.data.id //diambil dari vuex
			},
			text: '',
			snackbar: false,
			color: '',
			config: {
				toolbar: [
					['Bold', 'Italic', 'Strike'],
					['NumberedList', 'BulletedList'],
					['Link', 'Unlink']
				],
				height: 300
			},
			image: '',
			loadImgSuccess: false
		}),

		metaInfo (){
			if (!this.edit) {
				return {
					title: 'Tambah Kegiatan'
				}
			} else {
				return {
					title: 'Ubah Kegiatan'
				}
			}
		},

		created() {
            if (typeof this.$route.params.id !== 'undefined') {
            	this.fetchOneData();
            }
        },

		validations: {
			activity: {
				title: { required, minLength: minLength(10), maxLength: maxLength(100) },
				contact: { numeric, minLength: minLength(8) },
				link: { url, minLength: minLength(8) }
			}
		},

		computed: {
			titleErrors() {
				const errors = []
				if (!this.$v.activity.title.$dirty) return errors
				!this.$v.activity.title.required && errors.push('Judul kegiatan dibutuhkan')
				!this.$v.activity.title.minLength && errors.push('Minimal 10 karakter')
				!this.$v.activity.title.maxLength && errors.push('Maksimal 100 karakter')
				return errors
			},
			contactErrors() {
				const errors = []
				if (!this.$v.activity.contact.$dirty) return errors
				!this.$v.activity.contact.numeric && errors.push('Kontak harus numerik')
				!this.$v.activity.contact.minLength && errors.push('Minimal 8 karakter')
				return errors
			},
			linkErrors() {
				const errors = []
				if (!this.$v.activity.link.$dirty) return errors
				!this.$v.activity.link.url && errors.push('URL tidak sesuai')
				!this.$v.activity.link.minLength && errors.push('Minimal 8 karakter')
				return errors
			}
		},

		methods: {
			fetchOneData() {
                this.axios.get('/activity/' + this.$route.params.id)
                    .then((res) => {
						this.activity = res.data.data
						this.image = this.activity.image
						this.loadImgSuccess = true
                    })
                    .catch((err) => {
                        console.log(err)
                    })
			},
			
			createActivity() {
                const activity = this.activity;
                this.axios.post('/activity', activity)
                    .then((res) => {
						this.$router.push('/user/activity')
                    })
                    .catch(err => {
                        this.text = 'Kegiatan gagal dibuat'
						this.snackbar = true
						this.color = "error"
                    })
            },

            updateActivity() {
            	const activity = this.activity;
            	this.axios.patch('/activity/' + this.$route.params.id, activity)
            		.then(res => {
            			this.$router.push('/user/activity')
            		})
            		.catch(err => {
            			this.text = 'Kegiatan gagal diubah'
						this.snackbar = true
						this.color = "error"
            		})
            },

			onChange(image) {
				if (image) {
					this.text = 'Gambar sukses diupload'
					this.snackbar = true
					this.color = "success"
					this.activity.image = image
				} else {
					this.text = 'Gambar gagal diupload'
					this.snackbar = true
					this.color = "error"
				}
			}
		},

		components: {
			'ckeditor': Ckeditor,
			PictureInput
		}
	}
</script>