<template>
	<v-app>
		<router-view :key="$route.fullPath"></router-view>
	</v-app>
</template>
<script>
	// Load CSS
	import 'vuetify/dist/vuetify.min.css'
	import 'mdi/css/materialdesignicons.min.css'

	export default {}
</script>