<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex md6 sm8 xs12 offset-md3 offset-sm2>
				<h1 class="headline mb-4 text-xs-center">Hubungi Kami</h1>

				<section class="text-xs-justify">
					<p>Apakah Anda:</p>

					<p>(1) Ingin bermedia partner dengan You and Me For Indonesia? <i>untuk info, klik <router-link to="/media-partner" class="h-u">disini.</router-link></i></p>
					<p>(2) Ingin bagikan informasi kegiatannya?</p>
					<p>(3) Atau kerja sama lainnya bersama You and Me For Indonesia?</p>
					<p>(4) Atau ada sesuatu yang ingin ditanyakan?</p>
					<p class="body-2">Hubungi:</p>
					<p>email: <span class="body-2">youandme4id@gmail.com</span></p>
				</section>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<style>
	.h-u {
		text-decoration: none;
	}

	.h-u:hover {
		text-decoration: underline;
	}
</style>

<script>
	export default {
		metaInfo: {
			titleTemplate: 'Hubungi Kami'
		},
	}
</script>