<template>
	<v-container grid-list-md>
		<v-snackbar
			v-model="snackbar"
			:bottom="true"
			:center="true"
			:timeout="2000"
			:color="color"
		>{{ text }}</v-snackbar>

		<p class="display-1 mt-2">Ubah Profil</p>

		<v-layout row wrap>
			<v-flex md8 sm8 xs12>
				<v-card>
					<v-card-text>
						<v-container grid-list-md>
							<v-layout row wrap>
								<v-flex md12 sm12 xs12 class="mb-4">
									<v-layout justify-center>
										<picture-input
											ref="pictureInput"
											accept="image/jpeg, image/png"
											size="10"
											height="120"
											width="120"
											buttonClass="btn info px-2"
											:zIndex="0"
											:customStrings = "{
												drag: 'Klik atau tarik foto kesini'
											}"
											@change="onChange"
											v-model="user.avatar"
											v-if="!this.image"
										></picture-input>

										<picture-input
											ref="pictureInput"
											accept="image/jpeg, image/png"
											size="10"
											height="120"
											width="120"
											buttonClass="btn info px-2"
											:prefill="this.$baseURL + 'images/avatar/' + this.image"
											:zIndex="0"
											@change="onChange"
											v-model="user.avatar"
											v-if="this.image"
										></picture-input>
									</v-layout>
								</v-flex>
								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Nama Depan"
										v-model="user.first_name"
										:error-messages="first_nameErrors"
										@input="$v.user.first_name.$touch()"
										@blur="$v.user.first_name.$touch()"
									></v-text-field>
								</v-flex>

								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Nama Belakang"
										v-model="user.last_name"
									></v-text-field>
								</v-flex>

								<v-flex md6 sm6 xs12>
									<v-dialog
										ref="dialog"
										v-model="modal"
										lazy
										full-width
										width="290px"
										:return-value.sync="user.birthday"
									>
										<v-text-field
											slot="activator"
											label="Tanggal Lahir"
											v-model="user.birthday"
											prepend-icon="event"
											readonly
										></v-text-field>
										<v-date-picker v-model="user.birthday" scrollable>
											<v-spacer></v-spacer>
											<v-btn flat color="error" @click="modal = false">Batal</v-btn>
											<v-btn flat color="primary" @click="$refs.dialog.save(user.birthday)">OK</v-btn>
										</v-date-picker>
									</v-dialog>
								</v-flex>

								<v-flex md6 sm6 x12>
									<v-select
										label="Jenis Kelamin"
										:items="items"
										item-text="text"
										item-value="value"
										v-model="user.gender"
									></v-select>
								</v-flex>

								<v-flex md12 sm12 xs12>
									<v-text-field
										label="Deskripsi"
										v-model="user.description"
										multi-line
									></v-text-field>
								</v-flex>

								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Profesi"
										v-model="user.profession"
									></v-text-field>
								</v-flex>

								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Institusi"
										v-model="user.agency"
									></v-text-field>
								</v-flex>

								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Tempat Tinggal"
										v-model="user.address"
									></v-text-field>
								</v-flex>

								<v-flex md6 sm6 xs12>
									<v-text-field
										label="No. HP"
										v-model="user.telephone"
										:error-messages="telephoneErrors"
										@input="$v.user.telephone.$touch()"
										@blur="$v.user.telephone.$touch()"
									></v-text-field>
								</v-flex>

								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Email"
										v-model="user.email"
										disabled
									></v-text-field>
								</v-flex>
							</v-layout>
						</v-container>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex md4 sm4 xs12>
				<v-card>
					<v-subheader>Tingkat kelengkapan profil</v-subheader>
					<v-card-text>
						<v-layout justify-center class="mb-2">
							<v-progress-circular
								:size="100"
								:width="15"
								:rotate="-90"
								:value="value"
								:color="colorProgress"
							> {{ value }} </v-progress-circular>
						</v-layout>

						<p class="caption" v-if="value != 100">Lengkapi profil untuk meningkatkan kredibilitas dan menaikkan Anda</p>
						<p class="caption text-xs-center" v-if="value == 100">Yeay, Profil Anda sudah lengkap.</p>
					</v-card-text>
					<v-card-actions>
						<v-btn
							flat
							block
							color="success"
							@click="updateProfile()"
							:disabled="$v.user.first_name.$error || $v.user.telephone.$error"
							v-if="!loading"
						>Perbarui</v-btn>

						<v-btn flat block color="success" disabled v-if="loading">Loading...</v-btn>

						<v-btn flat block color="error" @click="back()">Kembali</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	import PictureInput from 'vue-picture-input'
	import store from '../store'

	import { minLength, numeric, required, alpha } from 'vuelidate/lib/validators';

	export default{
		metaInfo: {
			titleTemplate: 'Ubah Profil'
		},

		data: () => ({
			user: {},
			modal: '',
			items: [
				{ text: 'Laki-laki', value: 'l' },
				{ text: 'Perempuan', value: 'p' }
			],
			value: null,
			snackbar: false,
			text: '',
			color: '',
			colorProgress: '',
			image: '',
			avatar: '',
			loading: false,
		}),

		created() {
			if (!this.$auth.token()) {
				store.commit('logoutUser')
			} else {
				this.user = store.state.data
				this.image = this.user.avatar
			}
		},

		mounted() {
			this.profileCompleteness()
		},

		validations: {
			user: {
				first_name: { required, alpha },
				telephone: { numeric, minLength: minLength(8) },
			}
		},

		computed: {
			first_nameErrors() {
				const errors = []
				if (!this.$v.user.first_name.$dirty) return errors
				!this.$v.user.first_name.required && errors.push('Nama depan dibutuhkan')
				!this.$v.user.first_name.alpha && errors.push('Hanya boleh alfabet')
				return errors
			},

			telephoneErrors() {
				const errors = []
				if (!this.$v.user.telephone.$dirty) return errors
				!this.$v.user.telephone.numeric && errors.push('No. HP harus numerik')
				!this.$v.user.telephone.minLength && errors.push('Minimal 8 karakter')
				return errors
			},
		},

		methods: {
			back() {
				this.$router.push({
					path: '/user/' + this.user.id
				})
			},

			updateProfile() {
				this.loading = true
				const user = this.user
				this.axios.patch('/user/' + this.user.id, user)
					.then((res) => {
						this.axios.post('/auth/current', { id_user: this.user.id })
							.then((res) => {
								localStorage.setItem('user', JSON.stringify(res.data.data))
								this.user.avatar = res.data.data.avatar
								this.profileCompleteness()
								this.snackbar = true
								this.text = 'Sukses memperbaharui profil'
								this.color = 'success'
								this.loading = false
							})
							.catch((err) => {
								console.log(err)
								this.loading = false
							})
					})
					.catch((err) => {
						console.log(err)
						this.loading = false
					})
			},

			onChange(image) {
				if (image) {
					this.text = 'Gambar sukses diupload'
					this.snackbar = true
					this.color = "success"
					this.user.avatar = image
				} else {
					this.text = 'Gambar gagal diupload'
					this.snackbar = true
					this.color = "error"
				}
			},

			profileCompleteness() {
				this.value = 0

				if (this.user.avatar != null) {
					if (this.user.avatar != 'avatar.jpeg') {
						this.value += 20
					}
				}
				
				if (this.user.first_name != null || this.user.last_name != null) {
					if (this.user.first_name != '' || this.user.last_name != '') {
						this.value += 10
					}
				}

				if (this.user.birthday != null) {
					if (this.user.birthday != '') {
						this.value += 10
					}
				}
				
				if (this.user.gender != null) {
					if (this.user.gender != '') {
						this.value += 10
					}
				}
				
				if (this.user.description != null) {
					if (this.user.description != '') {
						this.value += 10
					}
				}

				if (this.user.address != null) {
					if (this.user.address != '') {
						this.value += 10
					}
				}

				if (this.user.telephone !=  null) {
					if (this.user.telephone != '') {
						this.value += 10
					}
				}

				if (this.user.agency != null) {
					if (this.user.agency != '') {
						this.value += 10
					}
				}

				if (this.user.profession != null) {
					if (this.user.profession != '') {
						this.value += 10
					}
				}

				if (this.value <= 50) {
					this.colorProgress = 'error'
				} else if (this.value >= 51 && this.value < 100) {
					this.colorProgress = 'primary'
				} else {
					this.colorProgress = 'success'
				}
			}
		},

		components: {
			PictureInput
		}
	}
</script>