<template>
	<section>
		<v-snackbar
			v-model="snackbar"
			:bottom="true"
			:center="true"
			:timeout="2000"
			:color="color"
		>{{ text }}</v-snackbar>

		<v-toolbar
			app
			fixed
			dark
			class="only-sm-and-down"
		>
			<v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>#U&ME4ID</v-toolbar-title>
		</v-toolbar>
		<v-navigation-drawer
			temporary
			v-model="drawer"
			app
			dark
			width="250"
			class="hidden-md-and-up"
		>
			<v-toolbar flat>
				<v-list-tile>
					<v-list-tile-title class="title">
						You & Me For Indonesia
					</v-list-tile-title>
				</v-list-tile>
			</v-toolbar>
			<v-divider></v-divider>
			<v-list dense>
				<v-list-tile to="/">
					<v-list-tile-action>
						<v-icon>home</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						Beranda
					</v-list-tile-content>
				</v-list-tile>
				<v-list-tile to="/search">
					<v-list-tile-action>
						<v-icon>search</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						Cari
					</v-list-tile-content>
				</v-list-tile>
				<v-divider></v-divider>
				<div v-if="$auth.check()">
					<v-list-tile to="/user/activity">
						<v-list-tile-action>
							<v-icon>mdi-buffer</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							Kegiatan Ku
						</v-list-tile-content>
					</v-list-tile>
					<v-list-tile :to="{ path: '/user/' + user.id }">
						<v-list-tile-action>
							<v-icon>mdi-account-circle</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							Profil
						</v-list-tile-content>
					</v-list-tile>
					<v-list-tile @click="dialog = true, drawer = false">
						<v-list-tile-action>
							<v-icon>mdi-lock-plus</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							Ubah Sandi
						</v-list-tile-content>
					</v-list-tile>
					<v-list-tile @click="userLogout">
						<v-list-tile-action>
							<v-icon>mdi-logout-variant</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							Keluar
						</v-list-tile-content>
					</v-list-tile>
				</div>

				<div v-if="!$auth.check()">
					<v-list-tile :to="{ path: '/login?redirect=' + this.$route.fullPath }">
						<v-list-tile-action>
							<v-icon>mdi-login-variant</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							Masuk
						</v-list-tile-content>
					</v-list-tile>
					<v-list-tile to="/register">
						<v-list-tile-action>
							<v-icon>mdi-account-plus</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							Daftar
						</v-list-tile-content>
					</v-list-tile>
				</div>
			</v-list>
		</v-navigation-drawer>

		<v-toolbar
			app
			fixed
			color="black"
			class="hidden-sm-and-down white--text"
		>
			<v-toolbar-title>#U&ME4ID</v-toolbar-title>
			<v-toolbar-items class="pl-3">
				<v-btn flat to="/" class="white--text">Beranda</v-btn>
				<v-btn flat to="/search" class="white--text">Cari</v-btn>
			</v-toolbar-items>
			<v-spacer></v-spacer>
			<v-toolbar-items v-if="$auth.check()">
				<v-menu offset-x>
					<v-btn flat slot="activator" class="white--text">
						<v-avatar class="white mr-2" size="38">
							<span class="black--text headline" v-if="getFileExtension(user.avatar) != 'jpeg'">{{ user.first_name | first }}</span>
							<img :src="'/images/avatar/' + user.avatar" v-if="getFileExtension(user.avatar) == 'jpeg'">
						</v-avatar>
						<span>{{ user.first_name }}</span>
						<v-icon>arrow_drop_down</v-icon>
					</v-btn>
					<v-list>
						<v-list-tile to="/user/activity">
							<v-list-tile-action>
								<v-icon>mdi-buffer</v-icon>
							</v-list-tile-action>
							<v-list-tile-title>Kegiatan Ku</v-list-tile-title>
						</v-list-tile>
						<v-divider></v-divider>
						<v-list-tile :to="{ path: '/user/' + user.id }">
							<v-list-tile-action>
								<v-icon>mdi-account-circle</v-icon>
							</v-list-tile-action>
							<v-list-tile-title>Profil</v-list-tile-title>
						</v-list-tile>
						<v-list-tile @click="dialog = true">
							<v-list-tile-action>
								<v-icon>mdi-lock-plus</v-icon>
							</v-list-tile-action>
							<v-list-tile-title>Ubah Sandi</v-list-tile-title>
						</v-list-tile>
						<v-list-tile @click="userLogout">
							<v-list-tile-action>
								<v-icon>mdi-logout-variant</v-icon>
							</v-list-tile-action>
							<v-list-tile-title>Keluar</v-list-tile-title>
						</v-list-tile>
					</v-list>
				</v-menu>
			</v-toolbar-items>
			<v-toolbar-items v-if="!$auth.check()">
				<v-btn flat class="white--text" :to="{ path: '/login?redirect=' + this.$route.fullPath }">Masuk</v-btn>
				<v-btn flat class="white--text" to="/register">Daftar</v-btn>
			</v-toolbar-items>
		</v-toolbar>

		<v-content class="min-height-550 content">
			<router-view></router-view>
		</v-content>

		<v-footer height="auto" color="black">
			<v-layout row wrap justify-center>
				<v-flex xs12 text-xs-center white--text>
					<v-btn color="white" to="/about-us" flat exact>Tentang Kami</v-btn>
					<v-btn color="white" to="/contact-us" flat >Hubungi Kami</v-btn>
					<v-btn color="white" to="/media-partner" flat>Media Partner</v-btn>
				</v-flex>

				<v-flex xs12 text-xs-center white--text>
					<v-btn
						color="white"
						href="https://www.facebook.com"
						target="_blank"
						flat
						icon
					><v-icon>mdi-facebook-box</v-icon>
					</v-btn>
					<v-btn
						color="white"
						href="https://www.twitter.com"
						target="_blank"
						flat
						icon
					><v-icon>mdi-twitter-box</v-icon>
					</v-btn>
					<v-btn
						color="white"
						href="https://www.instagram.com/youandme4id"
						target="_blank"
						flat
						icon
					><v-icon>mdi-instagram</v-icon>
					</v-btn>
					<v-btn
						color="white"
						href="https://www.youtube.com/channel/UC7Oq4ZveFMFJXpIHP78UCzA"
						target="_blank"
						flat
						icon
					><v-icon>mdi-youtube-play</v-icon>
					</v-btn>
				</v-flex>

				<v-flex xs12 py-2 text-xs-center white--text>
					<strong>YouAndMeForID</strong> &copy; 2018
				</v-flex>
			</v-layout>
		</v-footer>

		<v-dialog v-model="dialog" max-width="300" persistent>
			<v-card>
				<v-card-title>
					<span class="headline">Ubah Sandi</span>
				</v-card-title>
				<v-card-text>
					<v-container grid-list-xs>
						<v-layout wrap>
							<v-flex md12>
								<v-text-field
									label="Sandi lama"
									type="password"
									v-model="password.old"
									:error-messages="passwordOldErrors"
									@input="$v.password.old.$touch()"
									@blur="$v.password.old.$touch()"
								></v-text-field>
							</v-flex>
							<v-flex md12>
								<v-text-field
									label="Sandi baru"
									type="password"
									v-model="password.new"
									:error-messages="passwordNewErrors"
									@input="$v.password.new.$touch()"
									@blur="$v.password.new.$touch()"
								></v-text-field>
							</v-flex>
							<v-flex md12>
								<v-text-field
									label="Konfirmasi sandi"
									type="password"
									v-model="password.confirm"
									:error-messages="passwordConfirmErrors"
									@input="$v.password.confirm.$touch()"
									@blur="$v.password.confirm.$touch()"
								></v-text-field>
							</v-flex>
						</v-layout>
					</v-container>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn flat color="error" @click="reset()">Batal</v-btn>
					<v-btn 
						flat color="success"
						:disabled="!$v.password.$dirty || $v.password.$error"
						@click="saveChange()"
					>Simpan</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<back-to-top visibleoffset="400">
			<v-btn color="success" fab>
				<v-icon>keyboard_arrow_up</v-icon>
			</v-btn>
		</back-to-top>
	</section>
</template>

<style>
	.min-height-550 {
		min-height: 550px;
	}
	.content {
		background-color: #f5f5f5;
	}
</style>

<script>
	import { required, minLength, sameAs } from 'vuelidate/lib/validators'
	import BackToTop from 'vue-backtotop'
	import store from '../store'

	export default {
		data: () => ({
			user: {
				first_name: ''
			},
			avatar: null,
			password: {},
			drawer: null,
			dialog: false,
			snackbar: false,
			text: '',
			color: '',
		}),

		validations: {
			password: {
				old: { required, minLength: minLength(8) },
				new: { required, minLength: minLength(8) },
				confirm: { required, sameAs: sameAs('new') },
			}
		},

		computed: {
			passwordOldErrors() {
				const errors = []
				if (!this.$v.password.old.$dirty) return errors
				!this.$v.password.old.required && errors.push('Password lama dibutuhkan')
				!this.$v.password.old.minLength && errors.push('Minimal 8 karakter')
				return errors
			},

			passwordNewErrors() {
				const errors = []
				if (!this.$v.password.new.$dirty) return errors
				!this.$v.password.new.required && errors.push('Password baru dibutuhkan')
				!this.$v.password.new.minLength && errors.push('Minimal 8 karakter')
				return errors
			},

			passwordConfirmErrors() {
				const errors = []
				if (!this.$v.password.confirm.$dirty) return errors
				!this.$v.password.confirm.required && errors.push('Password lama dibutuhkan')
				!this.$v.password.confirm.sameAs && errors.push('Konfirmasi password tidak sesuai')
				return errors
			},
		},

		filters: {
            first: (string) => string.charAt(0)
        },

		created() {
			this.user = store.state.data
		},

		methods: {
			userLogout() {
				store.commit('logoutUser')
				this.$auth.logout({
					makeRequest: true,
					success: function() {},
					error: function(err) {
						if (err.response.status === 400) {
							store.commit('logoutUser')
							this.$router.push('/login')
							this.drawer = false
						} else {
							//
						}
					},
				})
			},

			saveChange() {
				this.axios.post('user/' + this.user.id + '/oldpass', { 'password': this.password.old })
					.then((res) => {
						if (res.data.success) {
							this.axios.patch('user/' + this.user.id + '/updatepass', { 'password': this.password.new })
							.then((res) => {
								this.reset()
								
								this.snackbar = true
								this.text = 'Sandi telah diperbaharui'
								this.color = 'success'
							})
							.catch((err) => {
								console.log(err)
							})
						} else {
							this.snackbar = true
							this.text = 'Sandi lama tidak sesuai'
							this.color = 'error'
						}
					})
					.catch((err) => {
						console.log(err)
					})
			},

			reset() {
				this.dialog = false,
				this.password = ''
				this.$v.password.$reset()
			},

			getFileExtension(file) {
				return file.split('.').pop()
			}
		},

		components: {
			BackToTop
		}
	}
</script>