<template>
	<section>
		<v-parallax src="/images/app/pict1.jpg" height="600" class="hidden-xs-only">
			<v-layout
				column
				align-center
				justify-center
				class="black--text"
			>
				<h1 class="display-1">
					Termukan berbagai macam kegiatan yang Anda inginkan
				</h1>
				<v-btn large class="mt-4" color="success" to="/activity/search">Cari Kegiatan</v-btn>
			</v-layout>
		</v-parallax>

		<v-parallax src="/images/app/pict1.jpg" height="500" class="hidden-sm-and-up">
			<v-layout
				column
				align-center
				justify-center
				class="black--text"
			>
				<h1 class="display-1 text-xs-center">
					Termukan berbagai macam kegiatan yang Anda inginkan
				</h1>
				<v-btn large class="mt-4" color="success" to="/activity/search">Cari Kegiatan</v-btn>
			</v-layout>
		</v-parallax>

		<v-layout
			wrap
			class="my-5"
			align-center
		>
			<v-flex xs12>
				<v-container grid-list-xl>
					<v-layout row wrap align-center>
						<v-flex xs12 md4>
							<v-card class="elevation-0 transparent">
								<v-card-text class="text-xs-center">
									<v-icon x-large class="black--text text--lighten-2">check_circle</v-icon>
								</v-card-text>
								<v-card-title primary-title class="layout justify-center">
									<div class="headline text-xs-center">Mudah Digunakan</div>
								</v-card-title>
								<v-card-text class="text-xs-justify">
									Dapatkan kemudahan dalam menggunakan platform ini dalam hal mendaftar, mencari dan membagikan kegiatan.
								</v-card-text>
							</v-card>
						</v-flex>
						<v-flex xs12 md4>
							<v-card class="elevation-0 transparent">
								<v-card-text class="text-xs-center">
									<v-icon x-large class="black--text text--lighten-2">search</v-icon>
								</v-card-text>
								<v-card-title primary-title class="layout justify-center">
									<div class="headline text-xs-center">Banyak Kegiatan</div>
								</v-card-title>
								<v-card-text class="text-xs-justify">
									Kegiatan yang ada disini berasal dari berbagai pengirim. Kami menampung semua itu untuk kemudian dibagikan kembali kepada kalian.
								</v-card-text>
							</v-card>
						</v-flex>
						<v-flex xs12 md4>
							<v-card class="elevation-0 transparent">
								<v-card-text class="text-xs-center">
									<v-icon x-large class="black--text text--lighten-2">language</v-icon>
								</v-card-text>
								<v-card-title primary-title class="layout justify-center">
									<div class="headline text-xs-center">Bagikan ke Media Sosial</div>
								</v-card-title>
								<v-card-text class="text-xs-justify">
									Kamu pun dapat membagikan kegiatan yang ada pada platform ini ke Media Sosial yang kamu miliki dengan menekan tombol Share
								</v-card-text>
							</v-card>
						</v-flex>
					</v-layout>
				</v-container>
			</v-flex>
		</v-layout>

		<v-parallax src="/images/app/pict2.jpg" height="300" class="hidden-xs-only">
			<v-layout
				column
				align-center
				justify-center
				class="white--text"
			>
				<h1 class="display-1 mb-2">Tunggu apa lagi?</h1>
				<h3>Mari bergabung bersama pengguna lainnya dalam berbagi kegiatan yang dimiliki</h3>
				<v-btn large class="mt-4" color="primary" to="/register" v-if="!$auth.check()">Registrasi</v-btn>

				<v-btn large class="mt-4" color="primary" to="/activity/add" v-if="$auth.check()">Buat kegiatan</v-btn>
			</v-layout>
		</v-parallax>

		<v-parallax src="/images/app/pict2.jpg" height="300" class="hidden-sm-and-up">
			<v-layout
				column
				align-center
				justify-center
				class="white--text"
			>
				<h1 class="display-1 mb-2">Tunggu apa lagi?</h1>
				<h3 class="text-xs-center">Mari bergabung bersama pengguna lainnya dalam berbagi kegiatan yang dimiliki</h3>
				<v-btn large class="mt-4" color="primary" to="/register" v-if="!$auth.check()">Registrasi</v-btn>

				<v-btn large class="mt-4" color="primary" to="/activity/add" v-if="$auth.check()">Buat kegiatan</v-btn>
			</v-layout>
		</v-parallax>
	</section>
</template>

<script>
	export default {
		metaInfo: {
			titleTemplate: 'Selamat Datang di Platform #U&ME4ID'
		}
	}
</script>