<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex md6 sm8 xs12 offset-md3 offset-sm2>
				<section class="text-xs-center">
					<h1 class="headline mb-4">Media Partner</h1>

					<h3>Ingin ber-Media Partner dengan YOU&ME For Indonesia?</h3>

					<p>Baca caranya dibawah ini ya...</p>
				</section>

				<v-expansion-panel focusable>
					<v-expansion-panel-content>
						<div slot="header">Pertama</div>
						<v-card>
							<v-card-text class="grey lighten-3">
								Kegiatan yang diajukan bertujuan untuk pengembangan anak muda sesuai bidangnya masing - masing.
							</v-card-text>
						</v-card>
					</v-expansion-panel-content>
					<v-expansion-panel-content>
						<div slot="header">Kedua</div>
						<v-card>
							<v-card-text class="grey lighten-3">
								Wajib follow sosial media kami
							</v-card-text>
						</v-card>
					</v-expansion-panel-content>
					<v-expansion-panel-content>
						<div slot="header">Ketiga</div>
						<v-card>
							<v-card-text class="grey lighten-3">
								Kirimkan proposal dan MOU kegiatan ke email: youandme4id@gmail.com.
							</v-card-text>
						</v-card>
					</v-expansion-panel-content>
					<v-expansion-panel-content>
						<div slot="header">Keempat</div>
						<v-card>
							<v-card-text class="grey lighten-3">
								Tunggu email balasan konfirmasi dari kami yang berisikan logo YOU&ME.
							</v-card-text>
						</v-card>
					</v-expansion-panel-content>
					<v-expansion-panel-content>
						<div slot="header">Kelima</div>
						<v-card>
							<v-card-text class="grey lighten-3">
								Jika belum menerima logo, harap konfirmasi kembali.
							</v-card-text>
						</v-card>
					</v-expansion-panel-content>
					<v-expansion-panel-content>
						<div slot="header">Keenam</div>
						<v-card>
							<v-card-text class="grey lighten-3">
								Setelah menerima email balasan konfirmasi dan logo, silahkan mengisi form kerjasama media partner Disini!
							</v-card-text>
						</v-card>
					</v-expansion-panel-content>
					<v-expansion-panel-content>
						<div slot="header">Ketujuh</div>
						<v-card>
							<v-card-text class="grey lighten-3">
								Jika ada kendala atau pertanyaan terkait media partner bisa menghubungi kami <router-link to="/contact-us">Disini</router-link>
							</v-card-text>
						</v-card>
					</v-expansion-panel-content>
				</v-expansion-panel>
			</v-flex>
		</v-layout>
	</v-container>
</template>
<script>
	export default {
		metaInfo: {
			titleTemplate: 'Media Partner'
		},
	}
</script>