<template>
	<v-container>
		<v-snackbar
			v-model="snackbar"
			:bottom="true"
			:center="true"
			:timeout="2000"
			color="success"
		>{{ text }}</v-snackbar>

		<v-layout row wrap v-if="activities == null && !loading">
			<v-flex xs4 offset-xs4>
				<v-card>
					<v-card-text class="text-xs-center">
						<p><i>-- Tidak ada data --</i></p>
						<v-icon large>zoom_out</v-icon>
					</v-card-text>
					<v-card-actions>
						<v-btn color="info" flat block to="/activity/add">Tambah data</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>

		<v-layout row wrap v-if="activities != null">
			<v-flex xs12>
				<p class="display-1">Daftar Kegiatan</p>
			</v-flex>
			<v-flex md3 sm3 class="hidden-xs-only">
				<v-btn class="ml-0" color="info" to="/activity/add">Tambah kegiatan</v-btn>
			</v-flex>
			<v-flex xs12 class="hidden-sm-and-up">
				<v-btn block class="mb-3" color="info" to="/activity/add">Tambah kegiatan</v-btn>
			</v-flex>
			<v-flex md3 sm3 xs12 offset-md6 offset-sm6>
				<v-text-field
					solo
					label="Cari disini.."
					v-model="query"
					@keyup.enter="searchData()"
				></v-text-field>
			</v-flex>

			<v-flex xs12 v-if="length == 0 && !loading">
				<v-layout justify-center class="mt-4">
					<span class="title">Tidak ada data</span>
				</v-layout>
			</v-flex>

			<!-- Desktop and Tablet -->
			<v-flex md12 sm12 class="mt-3 hidden-xs-only">
				<v-card>
					<v-list two-line class="py-0">
						<v-list-tile
							v-for="(activity, index) in activities.data"
                            :key="index"
						>
							<v-list-tile-avatar color="red">
								<span class="white--text">{{ activity.title | first }}</span>
							</v-list-tile-avatar>
							<v-list-tile-content>
								<v-list-tile-title>{{ activity.title }}</v-list-tile-title>
								<v-list-tile-sub-title>{{ activity.created_at.date | moment }}</v-list-tile-sub-title>
							</v-list-tile-content>
							<v-list-tile-action>
								<v-btn small fab depressed color="info" :to="{ path: '/activity/' + activity.id }">
									<v-icon>mdi-eye</v-icon>
								</v-btn>
							</v-list-tile-action>
							<v-list-tile-action>
								<v-btn small fab depressed color="success" :to="{ path: '/activity/' + activity.id + '/edit' }">
									<v-icon>mdi-pencil</v-icon>
								</v-btn>
							</v-list-tile-action>
							<v-list-tile-action>
								<v-btn small fab depressed color="error" @click="deleteActivity(activity.id)">
									<v-icon>mdi-delete</v-icon>
								</v-btn>
							</v-list-tile-action>
						</v-list-tile>
					</v-list>
				</v-card>
			</v-flex>

			<!-- Mobile -->
			<v-flex xs12 class="mt-3 hidden-sm-and-up">
				<v-card>
					<v-list two-line class="py-0">
						<v-list-tile
							v-for="(activity, index) in activities.data"
                            :key="index"
						>
							<v-list-tile-avatar color="red">
								<span class="white--text">{{ activity.title | first }}</span>
							</v-list-tile-avatar>
							<v-list-tile-content>
								<v-list-tile-title>{{ activity.title }}</v-list-tile-title>
								<v-list-tile-sub-title>{{ activity.created_at.date | moment }}</v-list-tile-sub-title>
							</v-list-tile-content>
							<v-list-tile-action>
								<v-menu min-width="125px">
									<v-btn icon slot="activator">
										<v-icon>more_vert</v-icon>
									</v-btn>
									<v-list>
										<v-list-tile :to="{ path: '/activity/' + activity.id }">
											<v-list-tile-title>Lihat</v-list-tile-title>
										</v-list-tile>
										<v-list-tile :to="{ path: '/activity/' + activity.id + '/edit'}">
											<v-list-tile-title>Ubah</v-list-tile-title>
										</v-list-tile>
										<v-list-tile @click="deleteActivity(activity.id)">
											<v-list-tile-title>Hapus</v-list-tile-title>
										</v-list-tile>
									</v-list>
								</v-menu>
							</v-list-tile-action>
						</v-list-tile>
					</v-list>
				</v-card>
			</v-flex>
		</v-layout>

		<v-layout justify-center class="mt-2" v-if="loading">
			<half-circle-spinner
                :animation-duration="1000"
                :size="60"
                color="black"
                class="center"
            />
		</v-layout>

		<v-layout justify-center v-if="nextPage && !loading">
			<v-btn
				color="black"
				class="white--text mt-3"
				@click="fetchData(nextPage)"
			>Load more
			</v-btn>
		</v-layout>
	</v-container>
</template>

<script>
    import { HalfCircleSpinner  } from 'epic-spinners';
    import moment from 'moment';
    import store from '../store';

    export default {
		metaInfo: {
			titleTemplate: 'Kelola Kegiatan'
		},

        data: () => ({
            activities: {},
            paginate: null,
            nextPage: null,
            loading: true,
            loadingMore: false,
            check: false,
            snackbar: false,
            text: null,
            url: '',
            query: '',
            length: ''
        }),

        filters: {
    		moment: (date) => moment(date).fromNow(),
    		first: (string) => string.charAt(0)
    	},

        mounted() {
            this.fetchData()
        }, 

        methods: {
            fetchData(url) {
            	this.loading = true
                this.axios.get(url ? url : '/user/' + store.state.data.id + '/activities', {
                	params: {
                		q: this.query
                	}
                })
                    .then((res) => {
                    	if (! this.activities.data) {
                    		this.activities = res.data
                    		this.nextPage = res.data.links.next
                    		this.loading = false
                    	} else {
                    		this.loadingMore = true
                    		this.activities.data.push(...res.data.data)
                    		this.activities.links = res.data.links.next
                    		this.nextPage = res.data.links.next
                    		this.loading = false
                    	}
                        this.length = res.data.data.length
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },

            deleteActivity(id) {
            	let check = confirm("Apakah anda ingin menghapus kegiatan ini?");

            	if (check) {
            		this.axios.delete('/activity/' + id)
            			.then((res) => {
							console.log(res)
							this.activities.data = ''
            				this.fetchData()
            				this.snackbar = true
							this.text = 'Sukses menghapus kegiatan'
            			})
            			.catch((err) => {
            				console.log(err)
            			})
            	}
            },

            searchData() {
				this.activities = {}
				this.fetchData()
			},
        },

        components: {
        	HalfCircleSpinner
        }
    }
</script>