<template>
	<v-container fill-height>
		<v-layout align-center justify-center>
			<v-flex xs12 sm8 md4>
				<v-card class="pa-3">
					<v-card-title>
						<span class="subheading">
							Halaman tidak ditemukan
							<v-icon>sentiment_dissatisfied</v-icon>
						</span>
					</v-card-title>
					<v-card-text class="text-xs-center">
						<h1 class="display-4">404</h1>
					</v-card-text>
					<v-card-actions>
						<v-btn
							color="black"
							class="white--text mx-2"
							block
							to="/"
						>Home</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	export default {
		metaInfo: {
			titleTemplate: 'Error 404'
		},	
	}
</script>
