<template>
	<v-container fluid fill-height>
		<v-snackbar
			v-model="snackbar"
			:bottom="true"
			:center="true"
			:timeout="2000"
			:color="color"
		>{{ text }}</v-snackbar>

		<v-layout align-center justify-center>
			<v-flex xs12 sm8 md4>
				<v-card class="pa-3" v-if="!success">
					<v-card-title>
						<span class="headline">Pulihkan Sandi</span>
					</v-card-title>
					<v-card-text>
						<v-container grid-list-md>
							<v-layout row wrap>
								<v-flex xs12>
									<v-text-field
										type="email"
										label="Email"
										v-model="email"
									></v-text-field>
								</v-flex>
							</v-layout>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-menu>
							<v-btn flat small slot="activator">
								Lainnya <v-icon>arrow_drop_down</v-icon>
							</v-btn>
							<v-list>
								<v-list-tile to="/login">
									<v-list-tile-title>Masuk</v-list-tile-title>
								</v-list-tile>
								<v-list-tile to="/register">
									<v-list-tile-title>Daftar</v-list-tile-title>
								</v-list-tile>
							</v-list>
						</v-menu>
						<v-spacer></v-spacer>
						<v-btn
							color="black"
							class="white--text"
							@click="sendMail"
							v-if="!loading"
						>Berikutnya
						</v-btn>
						<v-progress-circular indeterminate color="black" class="mr-4" v-if="loading"></v-progress-circular>
					</v-card-actions>
				</v-card>

				<v-card class="pa-3" v-if="success">
					<v-card-title>
						<span class="headline">Pulihkan Sandi Berhasil</span>
					</v-card-title>
					<v-card-text>
						<v-container grid-list-md>
							<p>Kami sudah mengirimkan sandi baru. Silahkan cek e-mail Anda.</p>
						</v-container>
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>
		<v-btn
			dark
			fixed
			bottom
			right
			round
			to="/"
		>
			<v-icon left>mdi-home-circle</v-icon> Beranda
		</v-btn>
	</v-container>
</template>

<script>
    export default {
		metaInfo: {
			titleTemplate: 'Pulihkan Sandi'
		},

        data: () => ({
            email: '',
            snackbar: false,
            text: '',
			color: '',
			success: false,
			loading: false,
        }),

		methods: {
			sendMail() {
				this.loading = true
				let email = this.email

				this.axios.post('/auth/resend', { email: email })
					.then((res) => {
						this.loading = false
						this.success = true
						this.snackbar = true
						this.text = "Sandi baru telah dikirim"
						this.color = "success"
					})
					.catch((err) => {
						console.log(err)
						this.loading = false
						this.success = true
						this.snackbar = true
						this.text = "Pulihkan sandi gagal"
						this.color = "error"
					})
			}
		}
    }
</script>
