<template>
	<v-container grid-list-lg>
		<v-snackbar
			v-model="snackbar"
			:bottom="true"
			:center="true"
			:timeout="2000"
			:color="color"
		>{{ text }}</v-snackbar>

		<v-layout row v-if="loading" class="center-screen">
			<self-building-square-spinner
				:animation-duration="6000"
				:size="80"
				color="#000000"
			/>
		</v-layout>

		<v-layout row v-if="!loading && !user" class="center-screen">
			<p class="headline">Tidak ada pengguna dengan ID <u>{{ this.$route.params.id }}</u></p>
		</v-layout>

		<v-layout row wrap v-if="!loading && user">
			<v-flex md8 sm8 xs12>
				<v-card color="white">
					<v-container fluid grid-list-lg class="hidden-xs-only">
						<v-layout row>
							<v-flex xs3>
								<v-card-media
									:src="'/images/avatar/' + user.avatar"
									height="100%"
									contain
								></v-card-media>
							</v-flex>
							<v-flex xs9 class="height150">
								<div>
									<p class="headline">{{ user.first_name }} {{ user.last_name }}</p>
									<p v-if="user.profession">{{ user.profession }}</p>
									<p v-if="!user.profession"><em>Tidak ada profesi</em></p>

									<p v-if="user.agency">{{ user.agency }}</p>
									<p v-if="!user.agency"><em>Tidak ada institusi</em></p>
								</div>
							</v-flex>
						</v-layout>
					</v-container>

					<v-card-text class="text-xs-center hidden-sm-and-up">
						<img :src="'/images/avatar/' + user.avatar">
						<p class="headline">{{ user.first_name }} {{ user.last_name }}</p>
						<p v-if="user.profession">{{ user.profession }}</p>
						<p v-if="!user.profession"><em>Tidak ada profesi</em></p>

						<p class="mb-0" v-if="user.agency">{{ user.agency }}</p>
						<p class="mb-0" v-if="!user.agency"><em>Tidak ada institusi</em></p>
					</v-card-text>
				</v-card>
				<v-card color="white" class="mt-3">
					<v-subheader>Deskripsi</v-subheader>
					<v-card-text v-if="!user.description">
						<em>Tidak ada deskripsi</em>
					</v-card-text>
					<v-card-text v-if="user.description">
						{{ user.description }}
					</v-card-text>
				</v-card>
			</v-flex>
			<v-flex md4 sm4 xs12>
				<v-card color="white">
					<v-subheader>Kegiatan yang dimiliki</v-subheader>
					<v-card-text v-if="!activities">
						<em>Tidak ada kegiatan</em>
					</v-card-text>
                    <v-list
                    	v-for="(activity, index) in activities"
                    	v-if="activities"
                    	:key="index"
                    >
                        <v-list-tile :to="{ path: '/activity/' + activity.id }">
                            <v-list-tile-content>
                                <v-list-tile-title>{{ activity.title }}</v-list-tile-title>
                                <v-list-tile-sub-title><i>{{ activity.category }}</i></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                    <v-card-actions v-if="length != 0 && length > 5">
                    	<v-btn
                    		flat
                    		block
                    		color="info"
                    		:to="{ path: '/user/' + this.$route.params.id + '/activities' }"
                    	>
                    		Lihat lebih banyak
                    	</v-btn>
                    </v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
		<v-btn
			color="success"
			class="z-index-1"
			fixed
			bottom
			right
			large
			round
			to="/user/edit"
			v-if="currentUser.id == this.$route.params.id"
		>
			<v-icon left>mdi-account-edit</v-icon> Ubah
		</v-btn>

		<v-btn
			color="error"
			class="z-index-1"
			fixed
			bottom
			right
			fab
			@click="dialog = true"
			v-if="currentUser.id != this.$route.params.id"
		>
			<v-icon>feedback</v-icon>
		</v-btn>

		<v-dialog v-model="dialog" max-width="400">
			<v-card>
				<v-card-title>
					<span class="headline">Lapor</span>
				</v-card-title>
				<section v-if="$auth.check()">
					<v-subheader>Alasan Anda melapor pengguna ini:</v-subheader>
					<v-card-text>
						<v-radio-group v-model="report">
							<v-radio 
								label="Spam atau iklan"
								color="primary"
								value="Spam atau iklan"
							></v-radio>

							<v-radio
								label="Pelecehan atau penindasan"
								color="primary"
								value="Pelecehan atau penindasan"
							></v-radio>
							
							<v-radio
								label="Perbuatan tidak menyenangkan"
								color="primary"
								value="Perbuatan tidak menyenangkan"
							></v-radio>
							
							<v-radio
								label="Lainnya"
								color="primary"
								value="Lainnya"
							></v-radio>
						</v-radio-group>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn flat color="error" @click="reset()">Batal</v-btn>
						<v-btn 
							flat
							color="success"
							:disabled="!report"
							@click="reportUser"
						>Kirim</v-btn>
					</v-card-actions>
				</section>

				<section v-if="!$auth.check()">
					<v-subheader>Silahkan masuk terlebih dahulu</v-subheader>
					<v-card-text>
						<v-btn
							block
							color="primary"
							:to="{ path: '/login?redirect=' + this.$route.fullPath }"
						>Masuk</v-btn>
					</v-card-text>
				</section>
			</v-card>
		</v-dialog>
	</v-container>
</template>

<style>
	.height150 {
		min-height: 150px;
	}

	.z-index-1 {
		z-index: 1;
	}

	.center-screen {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
</style>

<script>
	import store from '../store'
	import { SelfBuildingSquareSpinner  } from 'epic-spinners'

	export default {
		data: () => ({
			user : '',
			activities: '',
			length: '',
			currentUser: '',
			report: '',
			loading: true,
			dialog: false,
			snackbar: false,
			text: '',
			color: '',
		}),

		metaInfo () {
			return {
				title: this.user.first_name + ' - #U&ME4ID'
			}
		},

		created() {
			if (!this.$auth.token()) {
				store.commit('logoutUser')
			} else {
				this.currentUser = store.state.data
			}
		},

		mounted() {
			this.fethData()
		},

		methods: {
			fethData() {
				this.axios.get('/user/' + this.$route.params.id)
					.then((res) => {
						this.user = res.data.data
						if (this.user.activities.length != 0) {
							this.activities = res.data.data.activities.slice(0,5)
						}
						this.length = res.data.data.activities.length
						this.loading = false
					})
					.catch((err) => {
						if (err.response.status == 404) {
							this.loading = false
						}
					})
			},

			reportUser() {
				this.axios.post('/user/'+ this.$route.params.id +'/report', { report: this.report })
					.then((res) => {
						if(res.data.success) {
							this.reset()
							this.snackbar = true
							this.text = 'Laporan sudah dikirim'
							this.color = 'success'
						} else {
							this.reset()
							this.snackbar = true
							this.text = 'Terjadi error dalam melapor'
							this.color = 'error'
						}
					})
					.catch((err) => {
						this.reset()
						this.snackbar = true
						this.text = 'Terjadi error dalam melapor'
						this.color = 'error'
					})
			},

			reset() {
				this.dialog = false
				this.report = ''
			}
		},

		components: {
        	SelfBuildingSquareSpinner
        }
	}
</script>