<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex md6 sm8 xs12 offset-md3 offset-sm2>
				<v-card class="pa-3">
					<v-card-title>
						<span class="headline">Daftar</span>
					</v-card-title>
					<v-card-text>
						<v-container grid-list-md>
							<v-layout row wrap>
								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Nama Depan"
										v-model="user.first_name"
										:error-messages="first_nameErrors"
										@input="$v.user.first_name.$touch()"
										@blur="$v.user.first_name.$touch()"
									></v-text-field>
								</v-flex>
								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Nama Belakang"
										v-model="user.last_name"
										:error-messages="last_nameErrors"
										@input="$v.user.last_name.$touch()"
										@blur="$v.user.last_name.$touch()"
									></v-text-field>
								</v-flex>
								<v-flex md12 sm12 xs12>
									<v-text-field
										label="Email"
										type="email"
										v-model="user.email"
										:error-messages="emailErrors"
										@input="$v.user.email.$reset()"
										@blur="$v.user.email.$touch()"
									></v-text-field>
								</v-flex>
								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Password"
										type="password"
										v-model="user.password"
										:error-messages="passwordErrors"
										@input="$v.user.password.$touch()"
										@blur="$v.user.password.$touch()"
									></v-text-field>
								</v-flex>
								<v-flex md6 sm6 xs12>
									<v-text-field
										label="Konfirmasi Password" 
										type="password"
										v-model="user.passconf"
										:error-messages="passconfErrors"
										@input="$v.user.passconf.$touch()"
										@blur="$v.user.passconf.$touch()"
									></v-text-field>
								</v-flex>
								<v-flex md6 sm6 xs12>
									<v-dialog
										ref="dialog"
										v-model="modal"
										lazy
										full-width
										width="290px"
										:return-value.sync="user.birthday"
									>
										<v-text-field
											slot="activator"
											label="Tanggal Lahir"
											v-model="user.birthday"
											prepend-icon="event"
											readonly
											:error-messages="birthdayErrors"
											@input="$v.user.birthday.$touch()"
											@blur="$v.user.birthday.$touch()"
										></v-text-field>
										<v-date-picker v-model="user.birthday" scrollable>
											<v-spacer></v-spacer>
											<v-btn flat color="error" @click="modal = false">Batal</v-btn>
											<v-btn flat color="primary" @click="$refs.dialog.save(user.birthday)">OK</v-btn>
										</v-date-picker>
									</v-dialog>
								</v-flex>
								<v-flex md6 sm6 xs12>
									<v-select
										label="Jenis Kelamin"
										:items="items"
										item-text="text"
										item-value="value"
										v-model="user.gender"
										:error-messages="genderErrors"
										@input="$v.user.gender.$touch()"
										@blur="$v.user.gender.$touch()"
									></v-select>
								</v-flex>
								<v-flex md12 sm12 xs12>
									<v-text-field
										label="Profesi"
										v-model="user.profession"
										:error-messages="professionErrors"
										@input="$v.user.profession.$touch()"
										@blur="$v.user.profession.$touch()"
									></v-text-field>
								</v-flex>
								<v-flex md12 sm12 xs12>
									<v-text-field
										label="Institusi"
										v-model="user.agency"
										:error-messages="agencyErrors"
										@input="$v.user.agency.$touch()"
										@blur="$v.user.agency.$touch()"
									></v-text-field>
								</v-flex>
							</v-layout>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-menu>
							<v-btn flat small slot="activator">
								Lainnya <v-icon>arrow_drop_down</v-icon>
							</v-btn>
							<v-list>
								<v-list-tile to="/login">
									<v-list-tile-title>Masuk</v-list-tile-title>
								</v-list-tile>
							</v-list>
						</v-menu>
						<v-spacer></v-spacer>
						<v-btn
							color="black"
							class="white--text"
							@click="saveUser"
							:disabled="!$v.user.$dirty || $v.user.$error"
							v-if="!loading"
						>Berikutnya</v-btn>
						<v-progress-circular indeterminate color="black" class="mr-4" v-if="loading"></v-progress-circular>
					</v-card-actions>
				</v-card>
			</v-flex>

		</v-layout>
		<v-btn
			dark
			fixed
			bottom
			right
			round
			to="/"
		>
			<v-icon left>mdi-home-circle</v-icon> Beranda
		</v-btn>
	</v-container>
</template>

<script>
	import { required, email, minLength, alpha, sameAs } from 'vuelidate/lib/validators'

	export default {
		metaInfo: {
			titleTemplate: 'Daftar'
		},

		data: () => ({
			date: '',
			menu: false,
			modal: false,
			user: {
				first_name: '',
				last_name: '',
				email: '',
				password: '',
				passconf: '',
				birthday: '',
				gender: '',
				profession: '',
				agency: ''
			},
			items: [
				{ text: 'Laki-laki', value: 'l' },
				{ text: 'Perempuan', value: 'p' }
			],
			status: null,
			loading: false,
		}),

		validations: {
			user: {
				first_name: { required, alpha },
				last_name: { alpha },
				email: { 
					required,
					email,
					isUnique(email) {
						this.checkMail(email)

						return this.status ? true : false
					}
				},
				password: { required, minLength: minLength(8) },
				passconf: { required, sameAs: sameAs('password') },
				birthday: { required },
				gender: { required },
				profession: { required },
				agency: { required },
			}
		},

		computed: {
			first_nameErrors() {
				const errors = []
				if (!this.$v.user.first_name.$dirty) return errors
				!this.$v.user.first_name.required && errors.push('Nama depan dibutuhkan')
				!this.$v.user.first_name.alpha && errors.push('Hanya boleh alfabet')
				return errors
			},
			
			last_nameErrors() {
				const errors = []
				if (!this.$v.user.last_name.$dirty) return errors
				!this.$v.user.last_name.alpha && errors.push('Hanya boleh alfabet')
				return errors
			},
			
			emailErrors() {
				const errors = []
				if (!this.$v.user.email.$dirty) return errors
				!this.$v.user.email.required && errors.push('Email dibutuhkan')
				!this.$v.user.email.email && errors.push('Email tidak valid')
				!this.$v.user.email.isUnique && errors.push('Email telah digunakan')
				return errors
			},
			
			passwordErrors() {
				const errors = []
				if (!this.$v.user.password.$dirty) return errors
				!this.$v.user.password.required && errors.push('Password dibutuhkan')
				!this.$v.user.password.minLength && errors.push('Minimal 8 karakter')
				return errors
			},
			
			passconfErrors() {
				const errors = []
				if (!this.$v.user.passconf.$dirty) return errors
				!this.$v.user.passconf.required && errors.push('Konfirmasi password dibutuhkan')
				!this.$v.user.passconf.sameAs && errors.push('Konfirmasi password tidak sesuai')
				return errors
			},
			
			birthdayErrors() {
				const errors = []
				if (!this.$v.user.birthday.$dirty) return errors
				!this.$v.user.birthday.required && errors.push('Tanggal lahir dibutuhkan')
				return errors
			},
			
			genderErrors() {
				const errors = []
				if (!this.$v.user.gender.$dirty) return errors
				!this.$v.user.gender.required && errors.push('Jenis kelamin dibutuhkan')
				return errors
			},
			
			professionErrors() {
				const errors = []
				if (!this.$v.user.profession.$dirty) return errors
				!this.$v.user.profession.required && errors.push('Profesi dibutuhkan')
				return errors
			},
			
			agencyErrors() {
				const errors = []
				if (!this.$v.user.agency.$dirty) return errors
				!this.$v.user.agency.required && errors.push('Institusi dibutuhkan')
				return errors
			}
		},

		methods: {
			saveUser() {
				this.loading = true
				let user = this.user

				this.$auth.register({
					data: user,
					success: (res) => {
						console.log(res)
					},
					error: (err) => {
						this.snackbar = true
        				this.text = 'Email atau password salah.'
					},
					autoLogin: false,
					redirect: '/login'
				})
			},

			checkMail(email) {
				this.axios.post('auth/checkmail', { email: email })
					.then((res) => {
						this.status = res.data.status
					})
					.catch((err) => {
						console.log(err)
					})
			}
		}
	}
</script>