<template>
	<v-container>
		<!-- Desktop -->
		<v-container class="grid-list-md pb-0 hidden-sm-and-down">
			<p><span class="display-1">Cari Kegiatan,</span> ada {{ length }} kegiatan loh!</p>

			<v-layout row wrap>
				<v-flex md7>
					<v-text-field
						solo
						label="Cari disini.."
						v-model="search.query"
						@keyup.enter="searchData()"
					></v-text-field>
				</v-flex>

				<v-flex md2>
					<v-select
						:items="category_items"
						overflow
						label="Kategori"
						v-model="search.category"
						@input="searchData()"
					>
					</v-select>
				</v-flex>

				<v-flex md2>
					<v-select
						:items="sort_items"
						overflow
						label="Urutkan"
						v-model="search.sort"
						@input="searchData()"
					>
					</v-select>
				</v-flex>

				<v-flex md1>
					<v-btn flat color="error" @click="resetAll">Reset</v-btn>
				</v-flex>
			</v-layout>
		</v-container>

		<!-- Tablet -->
		<v-container class="grid-list-md pb-0 hidden-md-and-up hidden-xs-only">
			<p><span class="display-1">Cari Kegiatan,</span> ada {{ length }} kegiatan loh!</p>

			<v-layout row wrap>
				<v-flex sm4>
					<v-text-field
						solo
						label="Cari disini.."
						v-model="search.query"
						@keyup.enter="searchData()"
					></v-text-field>
				</v-flex>

				<v-flex sm3>
					<v-select
						:items="category_items"
						overflow
						label="Kategori"
						v-model="search.category"
						@input="searchData()"
					>
					</v-select>
				</v-flex>

				<v-flex sm3>
					<v-select
						:items="sort_items"
						overflow
						label="Urutkan"
						v-model="search.sort"
						@input="searchData()"
					>
					</v-select>
				</v-flex>

				<v-flex sm2>
					<v-btn flat block color="error" @click="resetAll">Reset</v-btn>
				</v-flex>
			</v-layout>
		</v-container>

		<!-- Mobile -->
		<section class="hidden-sm-and-up">
			<p class="display-1">Cari Kegiatan</p>

			<v-layout row wrap>
				<v-flex xs12>
					<v-text-field
						solo
						label="Cari disini.."
						v-model="search.query"
						@keyup.enter="searchData()"
						class="mb-4"
					></v-text-field>
				</v-flex>

				<v-flex xs12>
					<v-select
						:items="category_items"
						overflow
						label="Kategori"
						v-model="search.category"
						@input="searchData()"
					></v-select>
				</v-flex>

				<v-flex xs12>
					<v-select
						:items="sort_items"
						overflow
						label="Urutkan"
						v-model="search.sort"
						@input="searchData()"
					></v-select>
				</v-flex>

				<v-flex xs12>
					<v-btn block depressed color="error" @click="resetAll">Reset</v-btn>
				</v-flex>
			</v-layout>
		</section>

		<v-container v-if="length == 0 && !loading">
			<v-layout justify-center class="mt-2">
				<span class="title">Tidak ada data</span>
			</v-layout>
		</v-container>

		<!-- Desktop -->
		<v-container class="grid-list-md pt-0 hidden-sm-and-down">
			<v-layout row wrap>
				<v-flex md3 v-for="(activity, index) in activities.data" :key="index">
					<v-card>
						<v-card-media height="150px" :src="'/images/activity/' + activity.image"></v-card-media>
						<v-card-title primary-title>
							<div>
								<h3 class="headline mb-0" v-if="activity.title.length <= 15">{{ activity.title }}</h3>
								<h3 class="headline mb-0" v-if="activity.title.length >= 16">{{ activity.title | substr }}</h3>
								<div>
									<span class="grey--text">{{ activity.category | uppercase }}</span>
								</div>
							</div>
						</v-card-title>
						<v-card-actions>
							<v-btn
								flat
								block
								color="info"
								:to="{ path: '/activity/' + activity.id }"
							>Lihat
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
			
			<v-layout justify-center class="mt-2" v-if="loading">
				<half-circle-spinner
	                :animation-duration="1000"
	                :size="60"
	                color="black"
	                class="center"
	            />
			</v-layout>

			<v-layout justify-center v-if="nextPage && !loading">
				<v-btn
					color="black"
					class="white--text mt-3"
					@click="fetchData(nextPage)"
				>Lebih Banyak
				</v-btn>
			</v-layout>
		</v-container>

		<!-- Tablet -->
		<v-container grid-list-md class="pt-0 hidden-md-and-up hidden-xs-only">
			<v-layout row wrap>
				<v-flex sm4 v-for="(activity, index) in activities.data" :key="index">
					<v-card>
						<v-card-media height="150px" :src="'/images/activity/' + activity.image"></v-card-media>
						<v-card-title primary-title>
							<div>
								<h3 class="subheading mb-0" v-if="activity.title.length <= 15">{{ activity.title }}</h3>
								<h3 class="subheading mb-0" v-if="activity.title.length >= 16">{{ activity.title | substr }}</h3>
								<div>
									<span class="grey--text">{{ activity.category | uppercase }}</span>
								</div>
							</div>
						</v-card-title>
						<v-card-actions>
							<v-btn
								flat
								block
								color="info"
								:to="{ path: '/activity/' + activity.id }"
							>Lihat
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
			
			<v-layout justify-center class="mt-2" v-if="loading">
				<half-circle-spinner
	                :animation-duration="1000"
	                :size="60"
	                color="black"
	                class="center"
	            />
			</v-layout>

			<v-layout justify-center v-if="nextPage && !loading">
				<v-btn
					color="black"
					class="white--text mt-3"
					@click="fetchData(nextPage)"
				>Lebih Banyak
				</v-btn>
			</v-layout>
		</v-container>

		<!-- Mobile -->
		<section class="mt-4 hidden-sm-and-up">
			<v-layout row wrap>
				<v-flex xs12 v-for="(activity, index) in activities.data" :key="index">
					<v-card class="mb-2">
						<v-card-media height="150px" :src="'/images/activity/' + activity.image"></v-card-media>
						<v-card-title primary-title>
							<div>
								<h3 class="headline mb-0" v-if="activity.title.length <= 15">{{ activity.title }}</h3>
								<h3 class="headline mb-0" v-if="activity.title.length >= 16">{{ activity.title | substr }}</h3>
								<div>
									<span class="grey--text">{{ activity.category | uppercase }}</span>
								</div>
							</div>
						</v-card-title>
						<v-card-actions>
							<v-btn
								flat
								block
								color="info"
								:to="{ path: '/activity/' + activity.id }"
							>Lihat
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
			
			<v-layout justify-center class="mt-2" v-if="loading">
				<half-circle-spinner
	                :animation-duration="1000"
	                :size="60"
	                color="black"
	                class="center"
	            />
			</v-layout>

			<v-layout justify-center v-if="nextPage && !loading">
				<v-btn
					color="black"
					class="white--text mt-3"
					@click="fetchData(nextPage)"
				>Lebih Banyak
				</v-btn>
			</v-layout>
		</section>
	</v-container>
</template>

<script>
	import { HalfCircleSpinner } from 'epic-spinners'

	export default {
		metaInfo: {
			titleTemplate: 'Cari Kegiatan'
		},

		data: () => ({
			activities: {},
			search: {
				sort: 'desc'
			},
			nextPage: '',
			loading: false,
			length: '',
			category_items: [
				{ text: 'Info', value: 'info' },
				{ text: 'Scholarship', value: 'scholarship' },
				{ text: 'Jobs', value: 'jobs' },
				{ text: 'Event', value: 'event' },
				{ text: 'Volunteer', value: 'volunteer' }
			],
			sort_items: [
				{ text: 'Terbaru', value: 'desc' },
				{ text: 'Lampau', value: 'asc' },
			]
		}),

		filters: {
			uppercase: (string) => string.charAt(0).toUpperCase() + string.slice(1),
			substr: (string) => string.substr(0,15) + '...'
		},

		mounted() {
			this.fetchData()
		},

		methods: {
			fetchData(url) {
				this.loading = true
				this.axios.get(url ? url : '/activity', { params: this.search })
                    .then((res) => {
                    	if (! this.activities.data) {
                    		this.activities = res.data
                    		this.nextPage = res.data.links.next
							this.loading = false
							this.length = res.data.data.length
                    	} else {
                    		this.activities.data.push(...res.data.data)
                    		this.activities.links = res.data.links.next
                    		this.nextPage = res.data.links.next
							this.loading = false
							this.length += res.data.data.length
                    	}
                    })
                    .catch((err) => {
                        console.log(err)
                    })
			},

			searchData() {
				this.activities = {}
				this.fetchData()
			},

			resetAll() {
				this.search = {
					sort: 'desc'
				},
				this.activities = {}
				this.fetchData()
			}
		},

		components: {
            HalfCircleSpinner
        }
	}
</script>