<template>
    <section>
        <!-- Large tablet to 4K -->
        <v-container grid-list-md class="hidden-sm-and-down">
            <v-layout row wrap>
                <v-flex md6>
                    <v-card>
                        <v-card-text class="text-xs-center">
                            <v-icon class="black--text text--lighten-2" size="7rem">group</v-icon>
                            <p class="headline">Kamu ingin mencari pengguna yang lain?</p>
                        </v-card-text>
                        <v-subheader>Pengguna terbaru</v-subheader>

                        <v-card-text v-if="loadingUsers">
                            <half-circle-spinner
                                :animation-duration="1000"
                                :size="60"
                                color="black"
                                class="center"
                            />
                        </v-card-text>

                        <v-card-text v-if="!loadingActivities && !users">
                            <em>Tidak ada pengguna terbaru</em>
                        </v-card-text>

                        <v-list v-if="!loadingUsers && users">
                            <v-list-tile
                                v-for="(user, index) in users"
                                :key="index"
                                :to="{ path: '/user/' + user.id }"
                            >
                                <v-list-tile-avatar color="red">
                                    <span class="white--text" v-if="!user.avatar">{{ user.first_name | first }}</span>
                                    <img :src="'/images/avatar/' + user.avatar" v-if="user.avatar">
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ user.first_name }} {{ user.last_name }}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-card-actions v-if="users.length == 5">
                                <v-layout justify-center>
                                    <v-btn outline small color="default" to="/user/search">Cari lebih banyak</v-btn>
                                </v-layout>
                            </v-card-actions>
                        </v-list>
                    </v-card>
                </v-flex>
                <v-flex md6>
                    <v-card>
                        <v-card-text class="text-xs-center">
                            <v-icon class="black--text text--lighten-2" size="7rem">explore</v-icon>
                            <p class="headline">Kamu ingin mencari kegiatan?</p>
                        </v-card-text>
                        <v-subheader>Kegiatan terbaru</v-subheader>

                        <v-card-text v-if="loadingActivities">
                            <half-circle-spinner
                                :animation-duration="1000"
                                :size="60"
                                color="black"
                                class="center"
                            />
                        </v-card-text>

                        <v-card-text v-if="!loadingActivities && !activities">
                            <em>Tidak ada kegiatan</em>
                        </v-card-text>

                        <v-list v-if="!loadingActivities && activities">
                            <v-list-tile
                                v-for="(activity, index) in activities"
                                :key="index"
                                :to="{ path: '/activity/'+ activity.id }"
                            >
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ activity.title }}</v-list-tile-title>
                                    <v-list-tile-sub-title><i>{{ activity.category }}</i></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-card-actions v-if="activities.length == 5">
                                <v-layout justify-center>
                                    <v-btn outline small color="default" to="/activity/search">Cari lebih banyak</v-btn>
                                </v-layout>
                            </v-card-actions>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>

        <!-- Small to medium tablet -->
        <v-container grid-list-sm class="hidden-xs-only hidden-md-and-up">
            <v-layout row wrap>
                <v-flex sm6>
                    <v-card>
                        <v-card-text class="text-xs-center">
                            <v-icon class="black--text text--lighten-2" size="5rem">group</v-icon>
                            <p class="subheading">Kamu ingin mencari pengguna yang lain?</p>
                        </v-card-text>
                        <v-subheader>Pengguna terbaru</v-subheader>

                        <v-card-text v-if="loadingUsers">
                            <half-circle-spinner
                                :animation-duration="1000"
                                :size="60"
                                color="black"
                                class="center"
                            />
                        </v-card-text>

                        <v-card-text v-if="!loadingActivities && !users">
                            <em>Tidak ada pengguna terbaru</em>
                        </v-card-text>

                        <v-list v-if="!loadingUsers && users">
                            <v-list-tile
                                v-for="(user, index) in users"
                                :key="index"
                                :to="{ path: '/user/' + user.id }"
                            >
                                <v-list-tile-avatar color="red">
                                    <span class="white--text" v-if="!user.avatar">{{ user.first_name | first }}</span>
                                    <img :src="'/images/avatar/' + user.avatar" v-if="user.avatar">
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ user.first_name }} {{ user.last_name }}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-card-actions v-if="users.length == 5">
                                <v-layout justify-center>
                                    <v-btn outline small color="default" to="/user/search">Cari lebih banyak</v-btn>
                                </v-layout>
                            </v-card-actions>
                        </v-list>
                    </v-card>
                </v-flex>
                <v-flex sm6>
                    <v-card>
                        <v-card-text class="text-xs-center">
                            <v-icon class="black--text text--lighten-2" size="5rem">explore</v-icon>
                            <p class="subheading">Kamu ingin mencari kegiatan?</p>
                        </v-card-text>
                        <v-subheader>Kegiatan terbaru</v-subheader>

                        <v-card-text v-if="loadingActivities">
                            <half-circle-spinner
                                :animation-duration="1000"
                                :size="60"
                                color="black"
                                class="center"
                            />
                        </v-card-text>

                        <v-card-text v-if="!loadingActivities && !activities">
                            <em>Tidak ada kegiatan</em>
                        </v-card-text>

                        <v-list v-if="!loadingActivities && activities">
                            <v-list-tile
                                v-for="(activity, index) in activities"
                                :key="index"
                                :to="{ path: '/activity/'+ activity.id }"
                            >
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ activity.title }}</v-list-tile-title>
                                    <v-list-tile-sub-title><i>{{ activity.category }}</i></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-card-actions v-if="activities.length == 5">
                                <v-layout justify-center>
                                    <v-btn outline small color="default" to="/activity/search">Cari lebih banyak</v-btn>
                                </v-layout>
                            </v-card-actions>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>

        <!-- Small to large handset -->
        <v-container class="hidden-sm-and-up">
            <v-layout row wrap>
                <v-flex xs12 class="mb-3">
                    <v-card>
                        <v-card-text class="text-xs-center">
                            <v-icon class="black--text text--lighten-2" size="6rem">group</v-icon>
                        </v-card-text>
                        <v-subheader>Pengguna terbaru</v-subheader>

                        <v-card-text v-if="loadingUsers">
                            <half-circle-spinner
                                :animation-duration="1000"
                                :size="60"
                                color="black"
                                class="center"
                            />
                        </v-card-text>

                        <v-card-text v-if="!loadingActivities && !users">
                            <em>Tidak ada pengguna terbaru</em>
                        </v-card-text>

                        <v-list v-if="!loadingUsers && users">
                            <v-list-tile
                                v-for="(user, index) in users"
                                :key="index"
                                :to="{ path: '/user/' + user.id }"
                            >
                                <v-list-tile-avatar color="red">
                                    <span class="white--text" v-if="!user.avatar">{{ user.first_name | first }}</span>
                                    <img :src="'/images/avatar/' + user.avatar" v-if="user.avatar">
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ user.first_name }} {{ user.last_name }}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-card-actions v-if="users.length == 5">
                                <v-layout justify-center>
                                    <v-btn outline small color="default" to="/user/search">Cari lebih banyak</v-btn>
                                </v-layout>
                            </v-card-actions>
                        </v-list>
                    </v-card>
                </v-flex>
                <v-flex xs12>
                    <v-card>
                        <v-card-text class="text-xs-center">
                            <v-icon class="black--text text--lighten-2" size="6rem">explore</v-icon>
                        </v-card-text>
                        <v-subheader>Kegiatan terbaru</v-subheader>

                        <v-card-text v-if="loadingActivities">
                            <half-circle-spinner
                                :animation-duration="1000"
                                :size="60"
                                color="black"
                                class="center"
                            />
                        </v-card-text>

                        <v-card-text v-if="!loadingActivities && !activities">
                            <em>Tidak ada kegiatan</em>
                        </v-card-text>

                        <v-list v-if="!loadingActivities && activities">
                            <v-list-tile
                                v-for="(activity, index) in activities"
                                :key="index"
                                :to="{ path: '/activity/'+ activity.id }"
                            >
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ activity.title }}</v-list-tile-title>
                                    <v-list-tile-sub-title><i>{{ activity.category }}</i></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-card-actions v-if="activities.length == 5">
                                <v-layout justify-center>
                                    <v-btn outline small color="default" to="/activity/search">Cari lebih banyak</v-btn>
                                </v-layout>
                            </v-card-actions>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </section>
</template>

<style>
    .center {
        margin: auto;
    }
</style>

<script>
    import { HalfCircleSpinner } from 'epic-spinners'

    export default {
        metaInfo: {
			titleTemplate: 'Apa yang ingin Anda cari?'
        },
        
        data: () => ({
            loadingUsers: true,
            loadingActivities: true,
            activities: '',
            users: ''
        }),

        filters: {
            first: (string) => string.charAt(0)
        },

        created() {
            this.fetchActivities()
            this.fetchUsers()
        },

        methods: {
            fetchActivities() {
                this.axios.get('/activity')
                    .then((res) => {
                        if (res.data.data.length != 0) {
                            this.activities = res.data.data
                            this.loadingActivities = false
                        } else {
                            this.loadingActivities = false
                        }
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },

            fetchUsers() {
                this.axios.get('/user')
                    .then((res) => {
                        if (res.data.data.length != 0) {
                            this.users = res.data.data
                            this.loadingUsers = false
                        } else {
                            this.loadingUsers = false
                        }
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        },

        components: {
            HalfCircleSpinner
        }
    }
</script>
