<template>
	<v-container>
		<p class="hidden-xs-only">
			<span class="display-1">Cari Pengguna,</span> ada {{ length }} pengguna terdaftar
		</p>

		<p class="hidden-sm-and-up">
			<span class="display-1">Cari Pengguna</span>
		</p>

		<v-text-field
			solo
			label="Cari disini..."
			v-model="search"
			@keyup.enter="searchData()"
		></v-text-field>

		<v-container v-if="length == 0 && !loading">
			<v-layout justify-center class="mt-2">
				<span class="title">Tidak ada data</span>
			</v-layout>
		</v-container>

		<!-- Desktop -->
		<v-container class="grid-list-md mt-4 hidden-sm-and-down">
			<v-layout row wrap>
				<v-flex md2 v-for="(user, index) in users.data" :key="index">
					<v-card class="text-xs-center">
						<v-card-text>
							<v-avatar class="blue mb-2" size="84px">
								<span class="white--text headline" v-if="!user.avatar">{{ user.first_name | first }}</span>
								<img :src="'/images/avatar/' + user.avatar" v-if="user.avatar">
							</v-avatar>
							<div>
								<p class="title mb-0">{{ user.first_name }}</p>
								<span class="subheading grey--text">{{ user.profession }}</span>
							</div>
						</v-card-text>
						<v-card-actions>
							<v-btn color="info" flat block :to="{ path: '/user/' + user.id }">Lihat</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>

			<v-layout justify-center class="mt-2" v-if="loading">
				<half-circle-spinner
	                :animation-duration="1000"
	                :size="60"
	                color="black"
	                class="center"
	            />
			</v-layout>

			<v-layout justify-center v-if="nextPage && !loading">
				<v-btn
					color="black"
					class="white--text mt-3"
					@click="fetchData(nextPage)"
				>Lebih Banyak
				</v-btn>
			</v-layout>
		</v-container>

		<!-- Table -->
		<v-container class="grid-list-md mt-4 hidden-md-and-up hidden-xs-only">
			<v-layout row wrap>
				<v-flex sm3 v-for="(user, index) in users.data" :key="index">
					<v-card class="text-xs-center">
						<v-card-text>
							<v-avatar class="blue mb-2" size="84px" v-if="!user.avatar">
								<span class="white--text headline">{{ user.first_name | first }}</span>
							</v-avatar>
							<div>
								<p class="title mb-0">{{ user.first_name }}</p>
								<span class="subheading grey--text">{{ user.profession }}</span>
							</div>
						</v-card-text>
						<v-card-actions>
							<v-btn color="info" flat block :to="{ path: '/user/' + user.id }">Lihat</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>

			<v-layout justify-center class="mt-2" v-if="loading">
				<half-circle-spinner
	                :animation-duration="1000"
	                :size="60"
	                color="black"
	                class="center"
	            />
			</v-layout>

			<v-layout justify-center v-if="nextPage && !loading">
				<v-btn
					color="black"
					class="white--text mt-3"
					@click="fetchData(nextPage)"
				>Lebih Banyak
				</v-btn>
			</v-layout>
		</v-container>

		<!-- Mobile -->
		<section class="mt-4 hidden-sm-and-up">
			<v-layout row wrap>
				<v-flex xs12 v-for="(user, index) in users.data" :key="index">
					<v-card class="mb-2 text-xs-center">
						<v-card-text>
							<v-avatar class="blue mb-2" size="84px" v-if="!user.avatar">
								<span class="white--text headline">{{ user.first_name | first }}</span>
							</v-avatar>
							<div>
								<p class="title mb-0">{{ user.first_name }}</p>
								<span class="subheading grey--text">{{ user.profession }}</span>
							</div>
						</v-card-text>
						<v-card-actions>
							<v-btn color="info" flat block :to="{ path: '/user/' + user.id }">Lihat</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>

			<v-layout justify-center class="mt-2" v-if="loading">
				<half-circle-spinner
	                :animation-duration="1000"
	                :size="60"
	                color="black"
	                class="center"
	            />
			</v-layout>

			<v-layout justify-center v-if="nextPage && !loading">
				<v-btn
					color="black"
					class="white--text mt-3"
					@click="fetchData(nextPage)"
				>Lebih Banyak
				</v-btn>
			</v-layout>
		</section>
	</v-container>
</template>

<script>
	import { HalfCircleSpinner } from 'epic-spinners'

	export default {
		metaInfo: {
			titleTemplate: 'Cari Pengguna'
		},

		data: () => ({
			users: {},
			length: '',
			search: '',
			nextPage: '',
			loading: true
		}),

		filters: {
    		first: (string) => string.charAt(0)
    	},

		mounted() {
			this.fetchData()
		},

		methods: {
			fetchData(url) {
				this.loading = true
				this.axios.get(url ? url : '/user', { params: { query : this.search } })
					.then((res) => {
						if (! this.users.data) {
                    		this.users = res.data
                    		this.nextPage = res.data.links.next
							this.loading = false
							this.length = res.data.data.length
                    	} else {
                    		this.users.data.push(...res.data.data)
                    		this.users.links = res.data.links.next
							this.loading = false
							this.length += res.data.data.length
						}
					})
					.catch((err) => {
						console.log(err)
					})
			},

			searchData() {
				this.users = ''
				this.fetchData()
			},
		},

		components: {
            HalfCircleSpinner
        }
	}
</script>