<template>
    <v-container grid-list-lg>
    	<v-layout row v-if="loading" class="center-screen">
			<self-building-square-spinner
				:animation-duration="6000"
				:size="80"
				color="#000000"
			/>
		</v-layout>

		<v-layout row v-if="!loading && !activity" class="center-screen">
			<p class="headline">Tidak ada kegiatan dengan ID <u>{{ this.$route.params.id }}</u></p>
		</v-layout>

		<v-layout row wrap v-if="!loading && activity">
			<v-flex md8 sm8 xs12 offset-md2 offset-sm2>
				<v-card color="white">
					<v-card-title primary-title>
						<div>
							<h1 class="headline">{{ activity.title }}</h1>
							<p class="date">{{ activity.created_at | moment }}</p>
							<img :src="'/images/activity/' + activity.image" :alt="activity.title" width="100%">
							<br>
							<v-chip color="green lighten-1 ml-0" text-color="white" small label>
								<v-icon left>mdi-tag</v-icon>{{ activity.category }}
							</v-chip>
						</div>
					</v-card-title>
					<v-card-text>
						<div class="mt-3">
							<span v-html="activity.description"></span>
							<p v-if="activity.contact">Kontak : {{ activity.contact }}</p>
							<p v-if="activity.link">Link : <a :href="activity.link" target="_blank">{{ activity.link }}</a></p>
						</div>
					</v-card-text>
				</v-card>

				<v-card color="white" class="mt-3">
					<v-list dense>
						<v-list-tile>
							<v-list-tile-content>
								<v-list-tile-title>Bagikan</v-list-tile-title>
							</v-list-tile-content>
							<v-list-tile-action>
								<v-menu offset-x>
									<v-btn icon slot="activator">
										<v-icon>more_vert</v-icon>
									</v-btn>
									<v-list>
										<social-sharing
											:url="'http://youandme4id.devku.web.id' + this.$route.fullPath" inline-template
											:title="activity.title"
											:description="activity.description"
											:hashtags="activity.category"
										>
											<div>
												<network network="facebook">
													<v-list-tile @click="''">
														<v-list-tile-action>
															<v-icon color="primary">mdi-facebook-box</v-icon>
														</v-list-tile-action>
														<v-list-tile-title>Facebook</v-list-tile-title>
													</v-list-tile>
												</network>
												<network network="twitter">
													<v-list-tile @click="''">
														<v-list-tile-action>
															<v-icon color="info">mdi-twitter-box</v-icon>
														</v-list-tile-action>
														<v-list-tile-title>Twitter</v-list-tile-title>
													</v-list-tile>
												</network>
												<network network="googleplus">
													<v-list-tile @click="''">
														<v-list-tile-action>
															<v-icon color="error">mdi-google-plus-box</v-icon>
														</v-list-tile-action>
														<v-list-tile-title>Google+</v-list-tile-title>
													</v-list-tile>
												</network>
											</div>
										</social-sharing>
									</v-list>
								</v-menu>
							</v-list-tile-action>
						</v-list-tile>
					</v-list>
				</v-card>

				<v-card color="white" class="mt-3">
					<v-subheader>Dibuat oleh</v-subheader>
					<v-list>
						<v-list-tile>
							<v-list-tile-avatar color="red">
								<span class="white--text">A</span>
							</v-list-tile-avatar>
							<v-list-tile-content>
								<v-list-tile-title>{{ activity.user.first_name }}</v-list-tile-title>
							</v-list-tile-content>
							<v-list-tile-action>
								<v-btn
									outline
									small
									color="info"
									:to="{ path: '/user/' + activity.user.id }"
								>Lihat pengguna
								</v-btn>
							</v-list-tile-action>
						</v-list-tile>
					</v-list>
				</v-card>

				<v-card color="white" class="mt-3">
					<v-subheader>Komentar</v-subheader>
					<v-card-text>
						<v-layout justify-center v-if="!disqusReady">
							Loading..
						</v-layout>
						<vue-disqus shortname="youandme4id" @ready="disqusReady = !disqusReady"></vue-disqus>
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<style>
	.center-screen {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	ol, ul {
		margin-left: 20px;
	}

	.date {
		color: rgba(0,0,0,.54);
		font-size: 14px;
		font-style: italic;
	}
</style>

<script>
	import { SelfBuildingSquareSpinner  } from 'epic-spinners'
	import SocialSharing from 'vue-social-sharing'
    import moment from 'moment'

    export default {
    	data: () => ({
    		loading: true,
    		activity: '',
			disqusReady: false
    	}),

    	filters: {
    		moment: (date) => moment(date).format("D MMMM YYYY")
		},
		
		metaInfo () {
			return {
				title: this.activity.title + ' - #U&ME4ID'
			}
		},

    	created() {
            this.fetchData(this.$route.params.id)
        },

        methods: {
            fetchData(id) {
            	this.loading = true
                this.axios.get('/activity/' + id)
                    .then((res) => {
                        this.activity = res.data.data
                        this.loading = false
                    })
                    .catch((err) => {
                        if (err.response.status == 404) {
							this.loading = false
						}
                    })
            },
        },

        components: {
			SelfBuildingSquareSpinner,
			SocialSharing
        }
    }
</script>
