<template>
	<v-container>
		<v-layout>
			<v-flex md8 offset-md2>
				<v-text-field
					solo
					label="Cari disini..."
					class="mb-3"
					v-model="search"
					@keyup.enter="searchData()"
				></v-text-field>
				<v-card v-if="length">
					<v-list two-line class="py-0">
						<v-list-tile
							v-for="(activity, index) in activities.data"
	                        :key="index"
	                        :to="{ path: '/activity/'+ activity.id }"
						>
							<v-list-tile-avatar color="red">
								<span class="white--text">{{ activity.title | first }}</span>
							</v-list-tile-avatar>
							<v-list-tile-content>
								<v-list-tile-title>{{ activity.title }}</v-list-tile-title>
								<v-list-tile-sub-title><i>{{ activity.category | uppercase }}</i></v-list-tile-sub-title>
							</v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-card>

				<v-card v-if="!length && !loading">
					<v-card-text>
						Tidak ada data
					</v-card-text>
				</v-card>

				<v-layout justify-center class="mt-2" v-if="loading">
					<half-circle-spinner
		                :animation-duration="1000"
		                :size="60"
		                color="black"
		                class="center"
		            />
				</v-layout>

				<v-layout justify-center>
					<v-btn
						color="black"
						class="white--text mt-3"
						v-if="nextPage && !loading"
						@click="fetchData(nextPage)"
					>Lebih Banyak
					</v-btn>
				</v-layout>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	import { HalfCircleSpinner } from 'epic-spinners'

	export default {
		metaInfo: {
			titleTemplate: 'Daftar Kegiatan'
		},

		data: () => ({
			activities: '',
			search: '',
			length: '',
            nextPage: null,
			loading: true,
			loadingMore: false,
			url: ''
		}),

		filters: {
    		first: (string) => string.charAt(0),
    		uppercase: (string) => string.charAt(0).toUpperCase() + string.slice(1)
    	},

		mounted() {
			this.fetchData()
		},

		methods: {
			fetchData(url) {
				this.loading = true
				this.axios.get(url ? url : '/user/' + this.$route.params.id + '/activities', {
					params: {
						q: this.search
					}
				})
                    .then((res) => {
                    	if (! this.activities.data) {
                    		this.activities = res.data
                    		this.nextPage = res.data.links.next
                    		this.loading = false
                    	} else {
                    		this.activities.data.push(...res.data.data)
                    		this.activities.links = res.data.links.next
                    		this.nextPage = res.data.links.next
                    		this.loading = false
                    	}
                        this.length = res.data.data.length
                    })
                    .catch((err) => {
                        console.log(err)
                    })
			},

			searchData() {
				this.activities = ''
				this.fetchData()
			},
		},

		components: {
            HalfCircleSpinner
        }
	}
</script>