<template>
	<v-container fluid fill-height>
		<v-layout align-center justify-center>
			<v-flex xs12 sm8 md4>
				<v-card class="pa-3" v-if="success != null && success">
					<v-card-title>
						<span class="headline">Verifikasi Email</span>
					</v-card-title>
					<v-card-text>
						<p>Email Anda berhasil diverifikasi!</p>
                        <p>Silahkan klik tombol di bawah ini untuk Masuk.</p>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="black" class="white--text" to="/login">Masuk</v-btn>
					</v-card-actions>
				</v-card>

                <v-card class="pa-3" v-if="success != null && !success">
					<v-card-title>
						<span class="headline">Verifikasi Email</span>
					</v-card-title>
					<v-card-text>
						<p>Email Anda telah diverifikasi!</p>
                        <p>Klik tombol di bawah ini untuk Masuk.</p>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="black" class="white--text" to="/login">Masuk</v-btn>
					</v-card-actions>
				</v-card>

                <v-card class="pa-3" v-if="fail">
					<v-card-title>
						<span class="headline">Verifikasi Email</span>
					</v-card-title>
					<v-card-text>
						<p>Token tidak dapat digunakan.</p>
                        <p>Mungkin ini terjadi karena email tidak terdaftar. Silahkan daftar kembali</p>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="black" class="white--text" to="/register">Daftar</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
		<v-btn
			dark
			fixed
			bottom
			right
			round
			to="/"
		>
			<v-icon left>mdi-home-circle</v-icon> Beranda
		</v-btn>
	</v-container>
</template>

<script>
    export default {
		metaInfo: {
			titleTemplate: 'Verifikasi Email'
		},

        data: () => ({
            success: null,
            fail: '',
        }),

        created() {
            this.fetchData(this.$route.params.token)
        },

        methods: {
            fetchData(token) {
                this.axios.get('/auth/active?token=' + token)
                    .then((res) => {
                        console.log(res.data)
                        if (!res.data.status) {
                            this.success = true
                        } else {
                            this.success = false
                        }
                    })
                    .catch((err) => {
                        this.fail = true
                    })
            }
        }
    }
</script>
